
.frame {
    overflow: visible;
    position: relative;
}
.icon-button-frame {
    width: 16px;
    height: 16px;
    padding: 5px;
    border-radius: 4px;
    background-color: #2399e5;
    cursor: pointer;
}

.icon-button-frame {


}
    .icon-button-frame:hover {
        background-color: #73c0f1;
    }

    .icon-button-frame img {
        margin: 0;
        padding: 0;
        float: left;
    }

.menu-div{
    position:absolute;
    left:-200px;
    top:0px;

    border:solid 1px gray;
    min-width:150px;
    min-height:20px;
    background-color:white;
}

