<div class="frame">

    <button pButton type="button" icon="fa fa-caret-down" class="ui-button-secondary" #button
            (click)="onSplitButtonClicked($event)"></button>

    <div class="menu-div" #menuItemsBar
         [style.left.px]="viewModel.MenuPanelLeftPosition ? viewModel.MenuPanelLeftPosition : ''"
         [style.visibility]="viewModel.MenuPanelVisible ? 'visible' : 'hidden'">
        <div class="menu-item" *ngFor="let menuItem of viewModel.MenuItems" (click)="onMenuItemClicked(menuItem)">
            <span class="label">{{menuItem.Name}}</span>

        </div>
    </div>
</div>

