
.frame {
    overflow: visible;
    position: relative;
}

.icon-button-frame {
    width: 16px;
    height: 16px;
    padding: 5px;
    border-radius: 4px;
    background-color: #2399e5;
    cursor: pointer;
}

.icon-button-frame {
}

    .icon-button-frame:hover {
        background-color: #73c0f1;
    }

    .icon-button-frame img {
        margin: 0;
        padding: 0;
        float: left;
    }



.menu-div {
    position: absolute;
    top: 25px;
    border: solid 1px #c6c6c6;
    background-color: white;
    z-index: 99999;
    left:-150px;
}

.menu-item {
    height: 10px;
    line-height: 10px;
    vertical-align: middle;
    cursor: pointer;
    padding: 8px;
    width: 125px;
}

    .menu-item:hover {
        background-color: #c6c6c6;
    }

    .menu-item .label {
        display: inline-block;
    }
