.rect {
    /*stroke: red;
    stroke-width:1;*/
    fill:none;
    

}
.tick-line {
    stroke: gray;
    stroke-width: 1;
}
.date-text {
    font-family: Arial;
    font-size: 10px;
    fill: black;
}