
<form [formGroup]="reactiveForm">

    <div class="frame">
        <!--<div *ngIf="viewModel.InfoMessage != null" class="info-msg label-discrete">{{viewModel.InfoMessage}}</div>-->

        <div class="top-section">

            <input pInputText type="text" id="plan-name-input" formControlName="planName"
                   placeholder="Enter a Name"
                   [(ngModel)]="viewModel.PlanCLO.Name" />
            <span class="label-error">*</span>

            <div class="start-date-div" formGroupName="dates">
                <span class="label">
                    {{viewModel.StartDateLabel }}
                </span>
                <p-calendar formControlName="startDate"
                            dateFormat="dd-mm-yy"
                            id="start-date-picker"
                            readonlyInput="true"
                            [(ngModel)]="viewModel.CurrentVersionCLO.StartDateTime"
                            showIcon="true"></p-calendar>
            </div>

        </div>
        <div class="rules-section">
            <span class="h2">RULES:</span>
            <button pButton type="button" icon="fa fa-plus" id="add-new-rule-button" label="Add Rule"
                    (click)="onAddNewRuleTriggered()"></button>

            <br />
            <div class="rules-list">
                <rule-elem #ruleelems *ngFor="let rule of viewModel.CurrentVersionCLO.Rules"
                           (CreateNewMedicineTypeTriggered)="onCreateNewMedicineTypeTriggered($event)"
                           (ValidStateChanged)="onChildRuleElemValidStateChanged()"
                           (RemoveClicked)="onRemoveRuleTriggered($event)"
                           [AvailableMedicineTypes]="availableMedicineTypes"
                           [RuleCLO]="rule">
                </rule-elem>
                <div *ngIf="viewModel.CurrentVersionCLO.Rules.length===0" class="label-error">
                    * You need to add at least one Rule
                </div>
            </div>
        </div>

    </div>
</form>

