
.medicine-type-input-pair /deep/ .ng-invalid.ng-touched .ui-inputtext {
    border: 1px solid red !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}


.frame /deep/ .ui-inputtext {
    border: none !important;
}

.frame {
    padding: 5px 10px 5px 10px;
    width: calc(100% - 20px);
    height: calc(30px);
    border-radius: 6px;
    background-color: white;
}

.label-input-pair {
    float: left;
    margin-right: 10px;
}

    .label-input-pair .label {
        color: black;
    }

    .label-input-pair:last-of-type {
        margin-right: 0;
    }




.frame .medicine-type-input-pair {
    width: 300px;
    margin-right: 10px;
    
}
.frame .medicine-type-input-pair span{
   margin-top:4px;
}

.frame .quantifier-input-pair {
    margin-right: 2px !important;
}

    .frame .quantifier-input-pair .ui-inputtext {
        width: 35px;
        text-align: right;
    }

.frame .dose-type-input-pair .drop-down {
    width: 100px;
}


.frame .of-label {
    float: left;
    margin-left: -3px;
    margin-right: 5px;
    margin-top:6px;

}



.frame .dose-size-input-pair .ui-inputtext {
    width: 80px;
    text-align: right;
}


.frame .dose-uom-input-pair .ui-inputtext {
    width: 60px;
}




.frame .remove-button {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    color: black;
}

    .frame .remove-button:hover {
        color: blue;
    }

