
.medicine-type-input-pair /deep/ .ng-invalid.ng-touched .ui-inputtext {
    border: 1px solid red !important;
    background-color: white !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}


.frame {
    padding: 5px 10px 5px 10px;
    width: calc(100% - 20px);
    min-height: 30px;
    border-radius: 4px;
    border: solid 1px #d3d3d3;
    background-color:white;
}

.label-input-pair {
    float: left;
    margin-right: 10px;
}

    .label-input-pair:last-of-type {
        margin-right: 0;
    }


.frame .medicine-type-input-pair {
    margin-left: 5px;
    width: 270px;
    margin-right: 10px;
}

    .frame .medicine-type-input-pair span {
        margin-top: 5px;
    }



/*Quantifier elems*/
.frame .quantifier-input-pair {
    background-color: #186ba0;
    border-radius: 15px;
    width: 32px;
    height: 30px;
}

    .frame .quantifier-input-pair .ui-inputtext {
        margin-top: 3px;
        margin-left: 5px;
        width: 22px;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
        height: 22px;
        color: white;
        background-color: transparent;
        border: none;
        font-weight: bold;
    }

        .frame .quantifier-input-pair .ui-inputtext:hover,
        .frame .quantifier-input-pair .ui-inputtext:focus {
            color: black;
            background-color: white;
            border: none;
        }

.frame .x-label {
    float: left;
    margin-left: 2px;
    margin-right: 8px;
    margin-top: 5px;
    color: gray;
}





/*FreeForm MedType*/
.frame .dose-type-input-pair .drop-down {
    width: 120px;
}

.frame .of-label {
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}

.frame .dose-size-input-pair {
    float:left;
    min-width: 70px;
    text-align: right;
}

    .frame .dose-size-input-pair .ui-inputtext {
        float: left;
        width: 70px;
        text-align: right;
    }

    .frame .dose-size-input-pair .validation-error-icon {
        float: left;
        margin-left: 4px;
        margin-top: 6px;
    }
.frame .dose-uom-input-pair .ui-inputtext {
    width: 60px;
}

.frame .dose-uom-input-pair span {
    float: left;
    margin-left: -3px;
    margin-right: 5px;
    margin-top: 6px;
}

/*Packaged MedType*/
.frame .packaged-text-label {
    margin-top: 8px;
}



/*Remove button*/
.frame .remove-button {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    color: black;
}

    .frame .remove-button:hover {
        color: blue;
    }
