<form [formGroup]="reactiveForm">
    <div class="frame">

        <!--Supplement name-->
        <div class="label-input-pair medicine-type-input-pair">

            <span class="h2">{{this.viewModel.IFRPGroupCLO?.MedicineType?.Name}}</span>
        </div>


        <!--Quantifier-->
        <div class="label-input-pair quantifier-input-pair">

            <input pInputText [pKeyFilter]="only2Digits"
                   maxlength="2"
                   (click)="$event.target.select()"
                   type="text" formControlName="unitDoseQuantifierInput"
                   [(ngModel)]="viewModel.IFRPGroupCLO.UnitDoseQuantifier" />
        </div>

        <!--X-->
        <div class="label-large x-label">x</div>


        <!--When the MedType is FreeForm (not packaged into unit doses)-->
        <ng-container *ngIf="viewModel.IFRPGroupCLO.HasUserDefinedUnitDose">
            <!--UnitDoseType-->
            <div class="label-input-pair dose-type-input-pair">
                <select class="drop-down"
                        [value]="viewModel.IFRPGroupCLO.UnitDoseType"
                        (ngModelChange)="onUnitDoseTypeChanged($event)"
                        [attr.disabled]="viewModel.UserDefinedControlsAreLocked?'true':null"
                        formControlName="unitdosetype"
                        name="unitdosetype">
                    <option *ngFor="let doseType of viewModel.UnitDoseTypesEnum | enumkeys" [value]="doseType.value">{{doseType.key}}</option>
                </select>
            </div>





        </ng-container>

        <!--When the MedType is Packaged-->
        <ng-container *ngIf="!viewModel.IFRPGroupCLO.HasUserDefinedUnitDose">
            <div class="label-input-pair">
                <span class="packaged-text-label label">
                    {{viewModel.UnitDoseTypesEnum[viewModel.IFRPGroupCLO.UnitDoseType]}} ({{viewModel.IFRPGroupCLO.UnitDoseSize}} {{viewModel.IFRPGroupCLO.UnitOfMeasureName}} each)
                </span>
            </div>
        </ng-container>

        <i class="fa fa-times remove-button" (click)="onRemoveClicked()"></i>




    </div>

</form>


<!--Of
<div class="label of-label">of</div>
    -->
<!--UnitDoseSize
<div class="label-input-pair dose-size-input-pair">
    <input pInputText type="text" formControlName="unitdosesize"
           (ngModelChange)="onUnitDoseSizeChanged($event)"
           [attr.disabled]="viewModel.UserDefinedControlsAreLocked?'true':null"
           [(ngModel)]="viewModel.IFRPGroupCLO.UnitDoseSize" />
    <i [style.display]="!reactiveForm.controls.unitdosesize.errors ? 'none' : 'block'"
       [tooltipZIndex]="52000"
       [tooltipPosition]="'bottom'"
       [pTooltip]="'You need to enter a positive decimal or integer. Example: 1 or 1.5'"
       class="fa fa-warning validation-error-icon"></i>
</div>
    -->
<!--Unit of Measure
<div class="label-input-pair dose-uom-input-pair">
    <span class="label">{{viewModel.IFRPGroupCLO.UnitOfMeasureName}} each</span>
</div>-->
