
.medicine-type-input-pair /deep/ .ng-invalid.ng-touched .ui-inputtext {
    border: 1px solid red !important;
    background-color:white !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}


.frame /deep/ .ui-inputtext {
    /*border: none !important;*/
}

.frame {
    padding: 5px 10px 5px 10px;
    width: calc(100% - 20px);
    height: calc(30px);
    border-radius: 6px;
    background-color: white;
}

.label-input-pair {
    float: left;
    margin-right: 10px;
}

    .label-input-pair .label {
        color: black;
    }

    .label-input-pair:last-of-type {
        margin-right: 0;
    }




.frame .medicine-type-input-pair {
    width: 300px;
    margin-right: 10px;
    
}
.frame .medicine-type-input-pair span{
   margin-top:4px;
}

.frame .quantifier-input-pair {
    margin-right: 2px;
    background-color: #186ba0;
    border-radius: 15px;
    width: 32px;
    height: 30px;
}

    .frame .quantifier-input-pair .ui-inputtext {
        margin-top:3px;
        margin-left:5px;
        width: 22px;
        text-align: center;
        padding-left:2px;
        padding-right:2px;
        height:22px;
        color:white;
        background-color:transparent;
        border:none;
    }
        .frame .quantifier-input-pair .ui-inputtext:hover,
        .frame .quantifier-input-pair .ui-inputtext:focus {
            color: black;
            background-color: white;
            border: none;
        }

.frame .dose-type-input-pair .drop-down {
    width: 100px;
}


.frame .x-label {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

}
.frame .of-label {
    float: left;
    margin-left: -3px;
    margin-right: 5px;
    margin-top:5px;

}



.frame .dose-size-input-pair .ui-inputtext {
    width: 80px;
    text-align: right;
}


.frame .dose-uom-input-pair .ui-inputtext {
    width: 60px;
}




.frame .remove-button {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    color: black;
}

    .frame .remove-button:hover {
        color: blue;
    }

