
<div class="frame">
    <div class="header">
        <div class="left-section">
            <span class="header-label h1">TREATMENT PLANS</span>

            <i class="fa fa-question-circle"
               [pTooltip]="infoTooltipText" [escape]="false"
               tooltipPosition="left"></i>

            <button pButton type="button" icon="fa fa-plus"
                    [pTooltip]="'Create a new Plan'"
                    (click)="onAddNewPlanTriggered()"></button>
        </div>

        <div class="filters-section">
            <p-selectButton [options]="getPlanStatusViewModesAsItems()"
                            [ngModel]="viewModel.SelectedViewMode" (onChange)="onSelectedViewModeChanged($event)"></p-selectButton>

            <!--<span class="supplements-count-label label-discrete">{{viewModel.FilteredPlans.length}} Supplements</span>-->


            <!--<span class="label-discrete">Show:</span>
            <select class="drop-down view-mode-selector" [ngModel]="viewModel.SelectedViewMode" (change)="onSelectedViewModeChanged($event)">
                <option *ngFor="let planStatusItem of planStatusViewModes | keys" [value]="planStatusItem.value">{{planStatusItem.key}}</option>
            </select>-->
        </div>
    </div>
    <div class="body">

        <div id="plan-elems-list">
            <plan-elem #factorRecords *ngFor="let plan of viewModel.FilteredPlans"
                       [PlanCLO]="plan"
                       (StatusIconMouseEnter)="onPlanStatusElemMouseEnter($event)"
                       (StatusIconMouseLeave)="onPlanStatusElemMouseLeave()"
                       (ActionTriggered)="onPlanActionTriggered($event)"></plan-elem>

        </div>

    </div>

    <no-data-panel *ngIf="viewModel.CurrentNoDataMode!==null"
                   [InnerMarginTop]="120"
                   [CurrentNoDataModeID]="viewModel.CurrentNoDataMode">
        <no-data-mode [ID]="noDataModes.NoAvailablePlans">
            <span class="label-discrete">
                You don't have any Plans yet.
            </span>
            <button style="margin-top:7px" pButton type="button" icon="fa fa-plus" label="Create new"
                    (click)="onAddNewPlanTriggered()"></button>
        </no-data-mode>
        <no-data-mode [ID]="noDataModes.NoActivePlans">
            <span class="label-discrete">You have no Active Plans. Create a new one, or restart an older Inactive one.</span>
        </no-data-mode>
        <no-data-mode [ID]="noDataModes.NoInactivePlans">
            <span class="label-discrete">You have no Inactive Plans.</span>
        </no-data-mode>
        <no-data-mode [ID]="noDataModes.NoUpcomingPlans">
            <span class="label-discrete">You have no Upcoming Plans.</span>
        </no-data-mode>
    </no-data-panel>
</div> 