<div class="frame">
    <div class="header">
        <div class="left-section">
            <span class="header-label h1">PLANS</span>
            <button pButton type="button" icon="fa fa-plus" 
                    (click)="onAddNewPlanTriggered()"></button>
        </div>

        <div class="filters-section">
            <span class="label-discrete">Show:</span>
            <select class="drop-down view-mode-selector" [ngModel]="viewModel.SelectedViewMode" (change)="onSelectedViewModeChanged($event)">
                <option *ngFor="let planStatusItem of planStatusViewModes | keys" [value]="planStatusItem.value">{{planStatusItem.key}}</option>
            </select>
        </div>
    </div>
    <div class="body">
        
        <div id="plan-elems-list">
            <plan-elem #factorRecords *ngFor="let plan of viewModel.FilteredPlans"
                       [PlanCLO]="plan"
                       (ActionTriggered)="onPlanActionTriggered($event)"></plan-elem>

        </div>

    </div>
</div> 