

.frame {
    width: 190px;
    border: solid 1px #d5d5d5;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    padding: 7px 7px 0 7px;
    z-index: 9999999999;
    box-shadow: 2px 2px 5px #c6c6c6;
}

.symptoms-div {
    padding-top:5px;
    padding-bottom:5px;

    text-align: center;
}

    .symptoms-div .symptom-type-elem {
        display: inline-block;
        margin-top: 3px;
        margin-left: 3px;
    }


.date-label-div {
    text-align: center;
    height: 20px;
}

.health-chart-div {
    margin-top: 15px;
    margin-bottom: 10px;
}

    .health-chart-div .chart-wrapper-div {
        height: 80px;
    }

.health-level-div {
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    position: relative;
}
.health-level-div > span{
    text-transform:uppercase;
}



.caret-div {
    width: 0;
    height: 0;
    position: relative;
    
}


/* ABOVE position mode*/
.frame.above-pos {
    padding-top: 0;
}

    .frame.above-pos .caret-div {
        border-bottom: none;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
        border-top: solid 15px black;
        margin-bottom: -15px;
    }

/* BELOW position mode */
.frame.below-pos {
    padding-top: 0;
}

    .frame.below-pos .caret-div {
        margin-top:-15px;
        border-bottom: solid 15px black;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
        border-top: none;
    }
