<svg:svg height="50px" [attr.width]="viewModel.TickInfoWrapper.Width +'px'" overflow="visible" 
         [attr.x]="viewModel.TickInfoWrapper.XPos - viewModel.TickInfoWrapper.Width/2" [attr.y]="viewModel.TickInfoWrapper.YPos">


    <svg:line x1="100%" y1="0" x2="100%" y2="10" style="stroke:gray;stroke-width:1" />

    <svg:text x="0" y="50%" style="font-family:Arial;font-size:10px;fill:black">
        <tspan x="50%" text-anchor="middle">{{viewModel.DateText}}</tspan>
    </svg:text>

    <svg:rect height="100%" width="100%" class="rect"></svg:rect>
</svg:svg>

<!--transform="translate(10 -20) rotate(-45 45 45)"-->