.rect {
    /*stroke: red;
    stroke-width:1;*/
    fill:none;
    

}
.tick-line {
    stroke: #cacaca;
    stroke-width: 0.5;
}
.date-text {
    font-family: Arial;
    font-size: 10px;
    fill: #8b8b8b;
}