<svg:svg height="35px" width="20px" overflow="visible" [attr.x]="viewModel.XPos" [attr.y]="viewModel.YPos">


    <!--<svg:line x1="0%" y1="16" [attr.x2]="'100%'" y2="16" style="stroke-width:2;stroke:#d5d5d5"
              [attr.marker-start]="viewModel.VersionInfoWrapper.IntersectionStartIsVersionStart ? 'url(#circle-tick-start)' : ''"
              [attr.marker-end]="viewModel.VersionInfoWrapper.IntersectionEndIsVersionEnd ? 'url(#circle-tick-end)' : 'url(#arrow)'" />-->


    <svg:text  x="0" y="5" style="font-family:Arial;font-size:10px;fill:gray">
        wtf bro
    </svg:text>

    <!--<svg:rect height="100%" width="100%" class="rect"></svg:rect>-->
</svg:svg>

