<svg:svg height="50px" [attr.width]="viewModel.TickInfoWrapper.Width +'%'" overflow="visible"
         [attr.x]="viewModel.TickInfoWrapper.XPos - viewModel.TickInfoWrapper.Width/2 + '%'" [attr.y]="viewModel.TickInfoWrapper.YPos + '%'">


    <svg:line x1="50%" y1="0" x2="50%" y2="10" class="tick-line" />

    <svg:text x="0" y="50%" class="date-text" >
        <tspan x="50%" text-anchor="middle">{{viewModel.DateText}}</tspan>
    </svg:text>

    <svg:rect height="100%" width="100%" class="rect"></svg:rect>
</svg:svg>

<!--transform="translate(10 -20) rotate(-45 45 45)"-->
