.medicine-type-input-pair /deep/ .ng-invalid.ng-touched .ui-inputtext {
    border: 1px solid red !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

.frame {
    width: 280px;
    height: 250px;
}

.label-input-pair {
    float: left;
    margin-bottom: 25px;
    clear: both;
}

#new-password-div {
    margin-bottom:10px;
}

#email-div .ui-inputtext {
    border: none !important;
}


.ui-inputtext {
    width: 250px;
}