<div class="frame">
    <div class="terms-text-div">
        <p>LymeJournal is a (currently) prototype app for people with long-term Lyme disease and co-infections. It allows you to:</p>
        <ul>
            <li>Easily manage your treatments, seeing an easy overview of what to take and when.</li>
            <li>Track remaining supply so you know ahead of time before you run out of any Supplements.</li>
            <li>Record how you are feeling and your symptoms.</li>
            <li>Visualize your history in order to spot potential correlations, triggers, and to learn from past episodes.</li>
        </ul>
        <br />
        <h2>How to get started</h2>
        <p>In order to get started, you need to follow the following steps:</p>
        <ol>
            <li>Under SCHEDULE, you need to click the blue settings button to start setting up your Treatment Plans. Here you can define which treatments you are currently on. You can define as many Plans as you like, grouping different Medicines together as you wish. (Some examples could be: "Probiotics", "From LLMD", "Detox", "Candida", etc)</li>
            <li>While defining your Plans, you also will have to add which Supplements you are taking.</li>
            <li>Once you've created your first Treatment Plan, under SCHEDULE you will be able to see what you need to take every day. You can click items to mark them as taken.</li>
            <li>Under HEALTH (top left corner) you can start checking in and recording how you are feeling. It is recommended that you do this a few times every day.</li>
            <li>You can also start tracking supply for any of your Supplements. You can do this on the top right under "Supply" by pressing the settings button and then choosing "Add supply" for the Supplements you wish to track. After you add supply, whenever you take an item, its supply will count down. You will also get an ongoing indication of when it will run out</li>
        </ol>
        <br />
        <h2>History feature</h2>
        <p>Once you have enough data, you can start looking at the HISTORY page. There you can analyse your health history in order to spot correlations between treatments and symptoms, spot possible triggers when you are feeling bad, and go back in time to times when you had similar symptoms to understand how long they lasted and what worked for them.</p>

    </div>
</div>



