<div class="frame">
    <div class="header">
        <div class="left-section">
            <span class="header-label h1">Medicine Types</span>
            <button pButton type="button" icon="fa fa-plus"
                    (click)="onAddNewMedicineTypeTriggered()"></button>
        </div>

        <div class="right-section">
        </div>
    </div>
    <div class="body">
        <select class="view-mode-selector" [ngModel]="viewModel.SelectedViewMode" (change)="onSelectedViewModeChanged($event)">
            <option *ngFor="let medicineTypeStatus of medicineTypeStatusesEnum | enumkeys" [value]="medicineTypeStatus.value">{{medicineTypeStatus.key}}</option>
        </select>
        <div id="medicine-type-elems-list">
            <div class="medicine-type-elem" *ngFor="let medicineType of viewModel.FilteredMedicineTypes">
                <span class="h3">{{medicineType.Name}}</span>
                <split-button [MenuItems]="viewModel.GetMenuItems(medicineType)"></split-button>
                <span *ngIf="medicineType.RemainingSupply !== null" 
                      class="supply-label label"
                      [ngClass]="{'red-label': medicineType.RemainingSupply===0}"
                      >{{medicineType.RemainingSupply}} {{medicineType.RemainingSupplyMeasuredIn}} left</span>

            </div>
        </div>

    </div>
</div> 