<svg:g [attr.transform]="'translate(' + viewModel.XPos +' 0)'" overflow="visible">

    <!--Hover effect - StartPoint -->
    <svg:circle r="25" style="z-index:-9999" cy="15" class="hover-effect-rect" [style.visibility]="viewModel.ShowHoverEffect === true ? 'visible' : 'hidden'"></svg:circle>
    <svg:line x1="1" y1="16" x2="1" y2="2500"
              [style.visibility]="viewModel.ShowHoverEffect === true ? 'visible' : 'hidden'"
              style="stroke:gray;stroke-width:2;z-index:99999; position:absolute" stroke-dasharray="2, 5" />


    <!--Hitbox hover - StartPoint-->
    <svg:rect x="-20" height="100%" width="40px" class="hit-box-rect"
              (mouseenter)="onMouseEnter($event)"
              (mouseleave)="onMouseLeave(evt)"></svg:rect>


</svg:g>