

<div class="frame">
    <div class="header">
        <div class="left-section">
            <span class="header-label h1">REMINDERS</span>
            <i class="fa fa-question-circle"
               [pTooltip]="infoTooltipText" [escape]="false"
               tooltipPosition="bottom"></i>
        </div>
        
        <div class="right-section">

        </div>
    </div>
    <div class="body">
        <div class="upcoming-sub-section">
            <div class="when-div h2">
                <div>
                    <span class="when-label h1">{{viewModel.TargetMedTypeDaysUntilSupplyRunsOut}}</span> days until
                </div>
                <!--<span class="when-label h1">Tomorrow</span>-->
            </div>

            <div class="what-happens-div">
                <span class="label">
                    ...you will run out of <strong>{{viewModel.TargetMedicineType?.Name}}</strong>
                </span>
            </div>
        </div>


    </div>
    <no-data-panel *ngIf="viewModel.CurrentNoDataMode!==null"
                   [CurrentNoDataModeID]="viewModel.CurrentNoDataMode"
                  
                   [IconSizeInEM]="5"
                   [PositionStyle]="'vertical'">
        <no-data-mode [ID]="noDataModes.NoSupplyInfo">
            <span class="msg-label label-discrete">
                There are no reminders
            </span>
        </no-data-mode>

    </no-data-panel>

</div>

