

<div class="frame">
    <div class="header">
        <div class="left-section">
            <span class="header-label h1">UPCOMING</span>

        </div>
        <div class="center-section">

            <!--<span class="h2-alt">TODAY</span>-->
        </div>
        <div class="right-section">

        </div>
    </div>
    <div class="body">
        Info to remember
    </div>

    <no-data-panel *ngIf="viewModel.CurrentNoDataMode!==null"
                   [CurrentNoDataModeID]="viewModel.CurrentNoDataMode"
                   [InnerMarginTop]="15"
                   [IconSizeInEM]="5"
                   [PositionStyle]="'vertical'">
        <no-data-mode [ID]="noDataModes.NoUpcomingPlanChanges">
            <span class="msg-label label-discrete">
                No upcoming changes to treatment plans.
            </span>            
        </no-data-mode>

    </no-data-panel>

</div>

