
<health-statuses-over-day-tooltip #healthStatusTooltip></health-statuses-over-day-tooltip>

<div class="frame">
    <div class="header">
        <span class="h2-alt">LAST 10 DAYS</span>
    </div>
    <div class="footer">
        <div class="legend-item good-day-item">
            <i class="fa fa-square"></i>
            <span class="label-discrete">Good days</span>
        </div>
        <div class="legend-item bad-day-item">
            <i class="fa fa-square"></i>
            <span class="label-discrete">Bad days</span>
        </div>
    </div>
    <div class="body">
        <div id="chart-wrapper-div">

            <canvas id="longerTermHealthViewChart"></canvas>
        </div>
    </div>

    <no-data-panel *ngIf="viewModel.CurrentNoDataMode!==null"
                   [CurrentNoDataModeID]="viewModel.CurrentNoDataMode"
                   [IconName]="'fa fa-calendar-plus'"
                   [PositionStyle]="'vertical'">
        <no-data-mode [ID]="noDataModes.NoHealthStatusEntriesLastTenDays">
            <span class="msg-label label-discrete">
                You haven't recorded your Health in the last 10 days
            </span>

        </no-data-mode>

    </no-data-panel>

</div> 