.frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}

    .frame .header {
        width: calc(100% - 20px);
        height: 30px;
        padding: 5px 10px 5px 10px;
        vertical-align: middle;
        line-height: 30px;
        text-align: center;
    }



    .frame .body {
        height: calc(100% - 40px - 30px);
        width: calc(100%);
    }

    .frame .footer {
        height: 20px;
        width: calc(100%);
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

.legend-item {
    display: inline-block;
    margin-right: 10px;
}

    .legend-item i {
        vertical-align: middle;
        font-size: 0.7em;
    }

    .legend-item span {
        vertical-align: middle;
    }

.good-day-item i {
    color: #9dc340;
}

.bad-day-item i {
    color: #fe6060;
}

#chart-wrapper-div {
    margin-top: -3px;
    width: calc(100% - 10px);
    margin-left: 5px;
    float: left;
    padding: 0;
    overflow: visible;
    height: 115px;
}


.no-data-panel {
    height: calc(100% - 30px);
    width: 100%;
    float: left;
    transform: translate(0, calc(-102% ));

}

    .no-data-panel /deep/ .msg-label {
        float: left;
        clear: both;
    }

