
<health-statuses-over-day-tooltip #healthStatusTooltip></health-statuses-over-day-tooltip>

<div class="frame">
    <div class="header">
        <span class="h2-alt">LAST 10 DAYS</span>
    </div>
    <div class="body">
        <div id="chart-wrapper-div">

            <canvas id="longerTermHealthViewChart"></canvas>
        </div>
    </div>
    <div class="footer">
        <div class="legend-item good-day-item">
            <i class="fa fa-square"></i>
            <span class="label-discrete">Good day</span>
        </div>
        <div class="legend-item bad-day-item">
            <i class="fa fa-square"></i>
            <span class="label-discrete">Bad day</span>
        </div>
    </div>


</div> 