<form [formGroup]="reactiveForm" (keyup.enter)="onLoginClicked()">
    <div class="frame">
        <div class="header">
            <span class="h1">Login</span>
        </div>
        <div class="body">
            <div class="label-input-pair">
                <span class="label-discrete">Email:</span>
                <input formControlName="email" type="text" pInputText [(ngModel)]="viewModel.Email" />
            </div>
            <div class="label-input-pair">
                <span class="label-discrete">Password:</span>
                <input formControlName="password" type="password" pInputText [(ngModel)]="viewModel.Password" />
            </div>
            <div class="check-box-label-pair">

                <p-checkbox binary="true" formControlName="keepLoggedIn" label="Keep me logged in" [(ngModel)]="viewModel.KeepLoggedIn"
                            ></p-checkbox>
            </div>
        </div>
        <div class="footer">
            <button pButton type="button" label="Login" icon="fa fa-sign-in" iconPos="left" 
                    (click)="onLoginClicked()"></button>
        </div>
    </div>
</form>