@{
    ViewData["Title"] = "History";
}

@section scripts {
    <script src="~/Pages/ExternalHistoryPage/externalHistoryPage.js" asp-append-version="true"></script>
}


<external-history-page>

    <div class="loader-pos">
        <div class="loader"></div>
        <div class="logo">
            <img src="/Images/logo.png" />
        </div>
    </div>
</external-history-page>

