<div class="frame">
    <div class="top-part">
        <div class="left-side">
            <p-inplace #inplace>
                <span pInplaceDisplay>
                    <span class="h3 medicine-type-name">{{viewModel.MedicineTypeCLO.Name}}</span>
                </span>
                <span pInplaceContent>
                    <input #inplaceTextbox class="medicine-type-name-input" type="text"
                           (keyup.enter)="onInplaceAcceptChangesTriggered()"
                           (keyup.esc)="onInplaceCancelChangesTriggered()"
                           (blur)="onInplaceCancelChangesTriggered()"
                           [value]="viewModel.MedicineTypeCLO.Name" pInputText><br />
                    <span class="label">Enter to rename. Esc to cancel</span>
                </span>
                <div style="clear:both"></div>
            </p-inplace>

        </div>
        <split-button #splitButton [MenuItems]="viewModel.MenuItems"></split-button>
    </div>
    <div class="supply-div" *ngIf="viewModel.MedicineTypeCLO.CurrentSupplyAmount !== null"
         [attr.title]="viewModel.CurrentSupplyInfoState?.TooltipText">
        
        <i [ngClass]="viewModel.CurrentSupplyInfoState?.IconName"
           [style.color]="viewModel.CurrentSupplyInfoState?.MainLabelColor"></i>

        <span class="main-supply-label label"
              [style.color]="viewModel.CurrentSupplyInfoState?.MainLabelColor">{{viewModel.CurrentSupplyInfoState?.MainLabelText}}</span>

    </div>

    <div style="clear:both"></div>
    
</div>











<!--<span *ngIf="viewModel.MedicineTypeCLO.RemainingSupply !== null"
      class="supply-label label"
      [ngClass]="{'red-label': viewModel.MedicineTypeCLO.RemainingSupply===0}"
      [attr.title]="viewModel.CurrentSupplyInfoState.TooltipText">
    {{viewModel.CurrentSupplyInfoState.LabelText}}
</span>-->