.frame /deep/ .ui-buttonset,
.frame /deep/ button {
    font-size: 14px;
}

.frame /deep/ .ui-inplace-display:hover {
    background-color: #f8f8f8;
    border-radius: 4px;
}

.frame {
    background-color: #eaeaea;
    padding: 10px;
    height: 42px;
    border-radius: 3px;
    width: calc(100% - 20px);
}




    .frame .supply-label {
        display: block;
        clear: left;
        float: left;
        color: #808080;
        margin-top: 2px;
    }

    .frame .red-label {
        color: red;
    }



.top-part {
    width: 100%;
    height: 48px;
}

    .top-part .left-side {
        width: calc(100% - 35px);
        float:left;
    }

        .top-part .left-side .medicine-type-name {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: 25px;
            line-height: 25px;
            vertical-align: middle;
            width: 100%;
        }


        .top-part .left-side .medicine-type-name-input {
            width: 100%;
        }

        .top-part .left-side .label {
            color: #2399e5;
            display: inline-block;
        }

    .top-part .split-button {
        float: right;
    }
