.frame /deep/ .ui-buttonset,
.frame /deep/ button {
    font-size: 14px;
}

.frame /deep/ .ui-inplace-display {
    padding-left: 0;
}

    .frame /deep/ .ui-inplace-display:hover {
        background-color: #f8f8f8;
        border-radius: 4px;
    }

.frame {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 3px;
    width: calc(100% - 20px);
}






.top-part {
    width: 100%;
    height: 25px;
}

    .top-part .left-side {
        width: calc(100% - 35px);
        float: left;
    }

        .top-part .left-side .medicine-type-name {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: 25px;
            line-height: 25px;
            vertical-align: middle;
            width: 100%;
        }


        .top-part .left-side .medicine-type-name-input {
            width: 100%;
        }

        .top-part .left-side .label {
            color: #2399e5;
            display: inline-block;
            padding-bottom: 10px;
        }

    .top-part .split-button {
        float: right;
    }




.frame .supply-div {
    display: block;
    clear: left;
    float: left;
    width: 100%;
    
}



    .frame .supply-div > .main-supply-label {
        vertical-align: middle;
    }
    .frame .supply-div > i {
        vertical-align: middle;
    }
    .frame .supply-div > .secondary-supply-label {
    }

.frame .red-label {
    color: red;
}
