@{
    ViewData["Title"] = "Home";
}

@section scripts {
    <script src="~/Pages/HomePage/homePage.js" asp-append-version="true"></script>
}


    <home-page>
        <div class="loader-pos">
            <div class="loader"></div>
            <div class="logo">
                <img src="/Images/logo.png" />
            </div>
        </div>
    </home-page>


