<div class="frame">
    <span class="symptom-name-label h2">{{viewModel.SymptomEntryCLO?.SymptomType?.Name}}</span>
    <div class="intensity-levels-list">

        <div class="intensity-level-elem"
             *ngFor="let definition of symptomIntensityDefinitions"
             (click)="onIntensityLevelClicked(definition)"
             [style.background]="viewModel.HoveredIntensityDefinition && viewModel.HoveredIntensityDefinition.IntensityLevel >= definition.IntensityLevel 
             ? viewModel.HoveredIntensityDefinition.Color : ''"
             (mouseenter)="viewModel.HoveredIntensityDefinition = definition;"
             (mouseleave)="viewModel.HoveredIntensityDefinition = null;"
             >
             


        </div>
    </div>
    <div class="intensity-level-label label-large"
         [style.color]="viewModel.GetSelectedIntensityDefinition().Color">{{viewModel.GetSelectedIntensityDefinition().Label}}</div>

    <i class="fa fa-times remove-button" (click)="onRemoveClicked()"></i>
    <div style="clear: both"></div>
</div>

<!--(mouseenter)="hoverBox = true;"
             (mouseleave)="hoverBox = false;"-->
<!--[style.background]="definition.Color"-->
 <!--[ngClass]="definition.IntensityLevel === viewModel.SymptomEntryCLO.IntensityLevel ? 'selected-level' : ''"-->