

.frame {
    background-color: #efefef;
    
    width: calc(100% - 20px);
    border-radius: 4px;
    padding: 5px 10px 5px 15px;
}

.symptom-name-label {
    float: left;
    margin-top: 3px;
    display: inline-block;
    width: 220px;
    text-overflow: ellipsis;
}


.intensity-levels-list {
    width: 100px;
    float: left;
    height: 10px;
    margin-left: 10px;
}

    .intensity-levels-list .intensity-level-elem {
        width: 20px;
        height: 30px;
        float: left;
        margin-right: 3px;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: middle;
        border-radius: 20px;
        background-color:#d7d7d7;
        cursor: pointer;
    }

        .intensity-levels-list .intensity-level-elem span {
            vertical-align: middle;
            line-height: 30px;
        }

        
.intensity-level-label {
    float: left;
    margin-left: 10px;
    vertical-align: middle;
    line-height: 30px;
    filter: brightness(75%);
}

.remove-button {
    float: right;
    margin-top: 6px;
    cursor: pointer;
    color: gray;
}

    .remove-button:hover {
        color: blue;
    }
