<div class="frame">
    <span class="symptom-name-label h2">Headache</span>

    <div class="intensity-levels-list">

        <div class="intensity-level-elem"
             [style.background]="definition.Color"
             (click)="onIntensityLevelClicked(definition)"
             [ngClass]="definition.IntensityLevel === viewModel.SymptomEntryCLO.IntensityLevel ? 'selected-level' : ''"
             *ngFor="let definition of symptomIntensityDefinitions">


            <!--<span class="label">{{definition.Label}}</span>-->
        </div>
    </div>
    <div class="intensity-level-label label-large"
         [style.color]="viewModel.GetSelectedIntensityDefinition().Color"
         >{{viewModel.GetSelectedIntensityDefinition().Label}}</div>

    <i class="fa fa-times remove-button" (click)="onRemoveClicked()"></i>
    
</div>

<!--{{viewModel.SymptomEntryCLO?.SymptomType?.Name}}-->
