.frame /deep/ .ui-autocomplete input {
    height: 27px;
    width: 430px;
    font-size: 10pt;
    font-family: Arial;
    float:left;
}

.frame /deep/ .ui-autocomplete .ui-button {
    float: right;
    height: 27px;
}

.symptom-type-input-pair /deep/ .ng-invalid.ng-touched .ui-inputtext {
    border: 1px solid red !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

.frame {
    background-color: white;
    height: 70px;
    width: calc(100%);
}

.label-input-pair {
    float: left;
    margin-right: 10px;
}

    .label-input-pair:last-of-type {
        margin-right: 0;
    }

.draggable-area {
    background-color: #efefef;
    border-radius: 6px 0 0 6px;
    float: left;
    width: 20px;
    height: 100%;
}

.right-side {
    background-color: #f7f7f7;
    float: right;
    padding: 15px 10px 15px 10px;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
}

    .right-side .symptom-type-input-pair {
        width: 510px;
        margin-right: 35px;
    }



    .right-side .intensity-level-input-pair .drop-down {
        width: 100px;
    }




    .right-side .remove-button {
        float: right;
        margin-top:-8px;
        cursor: pointer;
        color: gray;
    }

        .right-side .remove-button:hover {
            color: blue;
        }

.hide-controls-overlay {
    width: calc(100% - 320px);
    margin-right: 25px;
    height: 70px;
    background-color: #f7f7f7;
    float: right;
    margin-top: -70px;
    display: none;
}
