<form [formGroup]="reactiveForm">
    <div class="frame">
        <div class="draggable-area"></div>
        <div class="right-side">


            <div class="label-input-pair symptom-type-input-pair">
                <span class="label">Symptom</span>


                <p-autoComplete #autocomplete
                                formControlName="symptomTypeName"
                                lazy="true"
                                [suggestions]="viewModel.SymptomTypeSearchResults"
                                [emptyMessage]="'No symptom types could be found. Please try a different name'"
                                [placeholder]="'Type to choose a Symptom'"
                                [dropdown]="true"
                                (completeMethod)="onSymptomTypeTextBoxChanged($event)"
                                (onSelect)="onSymptomTypeSelected($event)"></p-autoComplete>


            </div>

            <div class="label-input-pair intensity-level-input-pair">
                <span class="label">Intensity:</span>
                <select class="drop-down"
                        formControlName="symptomIntensityLevelInput"
                        [(ngModel)]="viewModel.SymptomEntryCLO.IntensityLevel">
                    <option *ngFor="let intensityLevel of symptomIntensityLevelsEnum | enumkeys" [value]="intensityLevel.value">
                        {{intensityLevel.key}}
                    </option>
                </select>
            </div>



            <!--<div class="remove-button" (click)="onRemoveClicked()">X</div>-->
            <i class="fa fa-times remove-button" (click)="onRemoveClicked()"></i>
        </div>
        <div class="hide-controls-overlay" *ngIf="viewModel.OverlayIsVisible"></div>
    </div>
</form>

