
.frame {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius:4px;
    background-color: white;
    padding: 10px;
}

.message-div {
    
}
i {
    color:#e8e8e8;
    display:inline-block;
}