<div #tooltipDiv class="frame"
     [style.visibility]="viewModel.Visible ? 'visible' : 'hidden'"
     [style.top.px]="viewModel.TooltipPos?.Top ? viewModel.TooltipPos.Top : 0"
     [style.left.px]="viewModel.TooltipPos?.Left ? viewModel.TooltipPos.Left : 0">

    <div class="caret-div"
         [style.top.px]="viewModel.CaretPos?.Top ? viewModel.CaretPos.Top : 0"
         [style.left.px]="viewModel.CaretPos?.Left ? viewModel.CaretPos.Left : 0">
    </div>


    <div class="body">

        <!--Started-->
        <div class="started-div changes-div" *ngIf="viewModel.Changes_Started?.length>0">
            <div class="top">
                <span class="label">STARTED</span>
                
            </div>
            <div class="medicine-type-div" *ngFor="let medTypeChange of viewModel.Changes_Started" >
                <i class="fa fa-play-circle"></i>
                <span class="h4">{{medTypeChange.MedicineType.Name}} </span>

            </div>
        </div>

        <!--Stopped-->
        <div class="stopped-div changes-div" *ngIf="viewModel.Changes_Stopped?.length>0">
            <div class="top">
                <span class="label">STOPPED</span>
               
            </div>
            <div class="medicine-type-div" *ngFor="let medTypeChange of viewModel.Changes_Stopped">
                <i class="fa fa-minus-circle"></i>
                <span class="h4">{{medTypeChange.MedicineType.Name}} </span>

            </div>
        </div>

        <!--Increased-->
        <div class="increased-div changes-div" *ngIf="viewModel.Changes_Increased?.length>0">
            <div class="top">
                <span class="label">INCREASED DOSAGE</span>
               
            </div>
            <div class="medicine-type-div" *ngFor="let medTypeChange of viewModel.Changes_Increased" >
                <i class="fa fa-arrow-up"></i>
                <span class="h4">{{medTypeChange.MedicineType.Name}} </span>

            </div>
        </div>


        <!--Decreased-->
        <div class="decreased-div changes-div" *ngIf="viewModel.Changes_Decreased?.length>0">
            <div class="top">
                <span class="label">DECREASED DOSAGE</span>
                
            </div>
            <div class="medicine-type-div" *ngFor="let medTypeChange of viewModel.Changes_Decreased">
                <i class="fa fa-arrow-down"></i>
                <span class="h4">{{medTypeChange.MedicineType.Name}} </span>

            </div>
        </div>

        <!--Schedule-->
        <div class="schedule-div changes-div" *ngIf="viewModel.AllChanges?.length===0">
            <div class="top">
                <span class="label">SCHEDULE CHANGES</span>
                <i class="fa fa-clock-o"></i>
            </div>
            
        </div>
    </div>

</div>


<!--<div class="medicine-type-div" *ngFor="let medTypeChange of viewModel?.Changes" [attr.class]="">
            <span class="h4"> {{medTypeChange.MedicineType.Name}} </span>

        </div>-->
