.frame {
    background-color: white;
    border: solid 1px #f2f2f2;
    width: 100%;
    height:100%;
    border-radius: 5px;
}

    .frame .header {
        width: calc(100% - 36px);
        height: 30px;
        padding: 5px 18px 5px 18px;
        vertical-align: middle;
        line-height: 30px;
        border-radius: 5px 5px 0px 0px;
    }

        .frame .header .left-section {
            display: block;
            float: left;
        }

            .frame .header .left-section .header-label {
                display: block;
                float: left;
            }

            .frame .header .left-section .icon-button {
                float: left;
                margin-left: 10px;
                margin-top: 2px;
            }

        .frame .header .center-section {
            float: left;
            width: 270px;
            margin-left: calc(50% - 295px);
        }

        .frame .header .right-section {
            float: right;
            /*border: solid 1px red;*/
        }


    .frame .body {
        height: calc(100% - 61px);
        width: calc(100% - 36px);
        padding: 5px 18px 5px 18px;
        
    }

.chart-wrapper-div {
    width: 100%;
    float:left;
    margin-top:-30px;
}