<form #form="ngForm">
    <div class="what-section">
        <span class="h2">WHAT</span>
        <button pButton type="button" icon="fa fa-plus" id="add-new-rule-button" id="add-new-button"
                (click)="onAddNewIFRPGroupTriggered()"></button>
        <br />
        <div id="elems-list">
            <ifrp-group-elem #IFRPGroupElems *ngFor="let clo of viewModel.IFRPGroupCLOs"
                             [IFRPGroupCLO]="clo"
                             [MedicineTypeSearchService]="searchService"
                             (ValidStateChanged)="onChildGroupElemValidStateChanged()"
                             (RemoveClicked)="onRemoveIFRPGroupTriggered($event)"></ifrp-group-elem>
            <div style="clear:both"></div>
        </div>
    </div>
</form>