
.frame {
    background-color: white;
    height: 100%;
    border-radius: 5px;
    width: 100%;
}

.left-side {
    width: calc(100% - 240px);
    height: 100%;
    float: left;
}

    .left-side .header {
        width: calc(100% - 20px);
        height: 30px;
        padding: 5px 10px 5px 10px;
        vertical-align: middle;
        line-height: 30px;
        border-radius: 5px 5px 0px 0px;
    }

        .left-side .header .left-section {
            display: block;
            float: left;
            width: calc(33%);
        }

            .left-side .header .left-section .header-label {
                display: block;
                float: left;
            }

            .left-side .header .left-section i {
                display: block;
                float: left;
                margin-left: 5px;
                margin-top: 4px;
                color: #e5e5e5;
                font-size: 1.3em;
            }

        .left-side .header .center-section {
            float: left;
            width: calc(34%);
        }

        .left-side .header .right-section {
            float: right;
            width: calc(33%);
        }

    .left-side .body {
        height: calc(100% - 45px);
        width: calc(100% - 13px);
    }

        .left-side .body #chart-wrapper-div {
            width: 100%;
            height: 100%;
            float: left;
            padding: 0;
        }

            .left-side .body #chart-wrapper-div svg {
                /*margin-left:17px;*/
                margin-left: 53px;
                margin-top: -100%;
                height: 100%;
                width: calc(100% - 36px - 36px);
            }


.right-side {
    border-radius: 0 5px 5px 0;
    width: 238px;
    height: 100%;
    float: right;
}

.legend-item {
    float: right;
    margin-left: 7px;
}

    .legend-item i {
        vertical-align: middle;
    }

    .legend-item span {
        vertical-align: middle;
    }


    .legend-item.good-day-item i {
        color: #9dc340;
    }

    .legend-item.bad-day-item i {
        color: #fe6060;
    }
@media only screen and (max-width: 1024px) {
    .left-side {
        width: calc(100% - 150px);
    }

    .right-side {
        width: 150px;
    }
}
