<p-blockUI [blocked]="viewModel.Blocked">
    <div class="inner-div">
        <p-progressSpinner strokeWidth="4"></p-progressSpinner>
    </div>

</p-blockUI>


<div class="frame">

    <div class="left-side">
        <div class="header">
            <div class="left-section">
                <span class="header-label h1">INDICATORS</span>
            </div>
            <div class="center-section">
                <navigation-panel [Label]="'May 2018'"
                                  (PreviousClicked)="onNavigateBackwardTriggered()"
                                  (NextClicked)="onNavigateForwardTriggered()"></navigation-panel>
            </div>

        </div>
        <div class="body">
            <div id="chart-wrapper-div">
                <p-chart #chart type="line" id="indicators-view-chart" [data]="viewModel.ChartData" [options]="viewModel.ChartOptions" height="380px"></p-chart>
                <!--<canvas id="myChart" style="border:solid 1px red;" width="700" height="400"></canvas>-->

            </div>
        </div>

    </div>

    <div class="right-side">
        <div class="header">
            <div class="left-section">
                <span class="header-label h2">FILTERS</span>
            </div>
        </div>
    </div>
</div> 