
<graph-tooltip #graphTooltip></graph-tooltip>
{{
getAvailableDateRangeString()
}}

{{
getSelectedDateRangeString()
}}

<div class="frame">
    <div class="left-side">
        <div class="header">
            <div class="left-section">
                <span class="header-label h1">HEALTH</span>
            </div>
            <div class="center-section">
                <navigation-panel #navPanel
                                  [Width]="270"
                                  [TriggerOnlyModeOn]="true"
                                  (DateRangeChangeTriggered)="onSelectedDateRangeChangeTriggered($event)"></navigation-panel>
            </div>

        </div>
        <div class="body">
            <div id="chart-wrapper-div">
                <!--<p-chart #chart type="line" id="indicators-view-chart" [data]="viewModel.ChartData" [options]="viewModel.ChartOptions" height="380px"></p-chart>-->
                <canvas id="myChart"></canvas>

                <svg xmlns="http://www.w3.org/2000/svg" overflow="visible">


                    <!--Vertical lines-->
                    <svg:line *ngIf="viewModel.HighlightRangeEndXPosition !== null"
                              [attr.x1]="viewModel.HighlightRangeStartXPosition + '%'"
                              [attr.x2]="viewModel.HighlightRangeStartXPosition + '%'"
                              y1="0" y2="90%"
                              [style.visibility]="(viewModel.HighlightRangeStartXPosition !== null ) ? 'visible' : 'hidden'"
                              style="stroke:gray;stroke-width:2;z-index:99999; position:absolute" stroke-dasharray="2, 5" />
                    <svg:line *ngIf="viewModel.HighlightRangeEndXPosition !== null"
                              [attr.x1]="viewModel.HighlightRangeEndXPosition + '%'"
                              [attr.x2]="viewModel.HighlightRangeEndXPosition + '%'"
                              y1="0" y2="90%"
                              [style.visibility]="(viewModel.HighlightRangeEndXPosition !== null ) ? 'visible' : 'hidden'"
                              style="stroke:gray;stroke-width:2;z-index:99999; position:absolute" stroke-dasharray="2, 5" />
                </svg>
            </div>
        </div>

    </div>

    <div class="right-side">
        <indicators-filters-panel #filtersPanel
                                  (SymptomTypeSelected)="onSymptomTypeSelected($event)"
                                  (SymptomTypeDeselected)="onSymptomTypeDeselected($event)"></indicators-filters-panel>
    </div>
</div> 