.frame {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 29px;
}


    .frame .current-date-label {
        display: inline-block;
        line-height:29px;
        display: inline-block;
        margin-top: 0;
        text-transform:uppercase;
    }
    .frame .previous-button {
        float: left;
        margin-left:-5px;
    }

    .frame .next-button {
        float: right;
        margin-right: -5px;
    }

