.frame {
    width: 250px;
    text-align: center;
    background-color: #fffbe5;
    margin-left: auto;
    margin-right: auto;
    height: 27px;
}

    .frame .previous-button {
        float: left;
    }

    .frame .current-date-label {
        /*nothing here*/
        color: black;
        line-height: 27px;
        vertical-align:top;
        display:inline-block;
    }

    .frame .next-button {
        float: right;
    }


.h2 {
    color: black;

}
