.frame {
    /*width: 240px;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 29px;
}



    .frame .current-date-label {
        display: inline-block;
        line-height: 27px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 0;
        font-size: 15pt;
        font-weight: bold;
        color: #2399e5;
    }
    .frame .previous-button {
        float: left;
    }

    .frame .next-button {
        float: right;
    }


.h2 {
    color: black;

}
