

.outer-wrapper {
    height: 100%;
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
}


.body-area {
    width: calc(100%);
    height: calc(100% - 70px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebebeb;
}


.factors-view {
    float: left;
    width: calc(100%);
    height: calc(50%);
}


.indicators-view {
    float: left;
    width: calc(100%);
    height: calc(50% - 20px);
    margin-top: 20px;
    
}


/*Bigger than 1024*/
@media only screen and (min-width: 1024px) {
    .outer-wrapper {
        min-width: calc(1024px - 24px);
        max-width: 80%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

/*Lower than 1024px in width*/
@media only screen and (max-width: 1024px) {
    .outer-wrapper {
        min-width: calc(768px - 12px);
        max-width: 90%;
        padding-left: 6px;
        padding-right: 6px;
    }

   
}

/*@media only screen and (max-width: 1024px) {
    .left-side {
        width: calc(100% - 150px);
    }

    .right-side {
        width: 150px;
    }
}*/
