<div class="outer-wrapper">
    <header-bar [ActivePageName]="'AnalysisPage'"></header-bar>

    <div class="body-area">
        
        <div class="main-panel">

            <factors-view></factors-view>
            <div class="main-panel-timeline">
                <navigation-panel #navPanel
                                  [Width]="270"
                                  [TriggerOnlyModeOn]="true"
                                  (DateRangeChangeTriggered)="onSelectedDateRangeChangeTriggered($event)"></navigation-panel>
                <timeline #timeline></timeline>

            </div>
            <!--<indicators-view></indicators-view>-->


        </div>
    </div>

</div>  