

.outer-wrapper {
    height: 100%;
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
}


.body-area {
    width: calc(100%);
    height: calc(100% - 70px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebebeb;
}


.factors-view {
    float: left;
    width: calc(100%);
    height: calc(50%);
}


.indicators-view {
    float: left;
    width: calc(100%);
    height: calc(50% - 20px);
    margin-top: 20px;
    
}


/*Computer*/
@media only screen and (min-width: 1024px) {
    .outer-wrapper {
        min-width: calc(1024px - 24px);
        max-width: 80%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    .outer-wrapper {
        width: calc(768px - 24px);
    }

   
}