
<header-bar [ActivePageName]="'AnalysisPage'"></header-bar>

<div class="body-area">
    <div class="factors-view"></div>
    <!--<schedule></schedule>
    <plans-overview></plans-overview>
    <health-graph></health-graph>

    <div class="test-result-list-placeholder"></div>-->
    ANALYSIS PAGE
</div>


<!--Special fix for webpack issues with dynamic src for images-->
<div style="display:none">
    <img src="/Images/arrow-left.png" />
    <img src="/Images/plus.png" />
    <img src="/Images/arrow-right.png" />
    <img src="/Images/log-out.png" />
</div>