<div class="frame" [class.active]="viewModel.PlanCLO.Status === 0 || viewModel.PlanCLO.Status === 1">




    <div class="top-part">

        <i [ngClass]="viewModel.StatusIcon"
           [style.color]="viewModel.StatusIconColor"
           [pTooltip]="viewModel.StatusIconTooltipText"
           tooltipPosition="top"></i>
        <div class="right-side-div">
            <p-inplace #inplace>
                <span pInplaceDisplay>
                    <span class="h3 plan-name">{{viewModel.PlanCLO.Name}}</span>
                </span>
                <span pInplaceContent>
                    <input #inplaceTextbox class="plan-name-input" type="text" [value]="viewModel.PlanCLO.Name" pInputText>
                    <i class="fa fa-check-square" (click)="onInplaceEditOKTriggered()"></i>
                    <i class="fa fa-times-circle" (click)="onInplaceEditCancelTriggered()"></i>
                </span>
            </p-inplace>

        </div>

    </div>
    <div class="bottom-part">

        <div class="left-side-text-div">
            <span class="label-discrete">{{viewModel.DateInfoLabel}}</span>
            <span class="label">{{viewModel.DateInfoValue}}</span>

        </div>
        <button *ngIf="viewModel.MainAction"
                pButton
                type="button"
                [icon]="viewModel.MainAction.Icon"
                [pTooltip]="viewModel.MainAction.TooltipText"
                [attr.class]="viewModel.MainAction.ButtonClass"
                (click)="viewModel.MainAction.OnClick()"></button>
        <split-button [MenuItems]="viewModel.GetMenuItems()"></split-button>

    </div>
</div>

<!--[label]="viewModel.MainAction.ButtonText"-->
