<div class="frame"
     [class.active]="viewModel.PlanCLO.Status === 0 || viewModel.PlanCLO.Status === 1">



    <div class="top-part">
        <i #statusIcon
           [ngClass]="viewModel.StatusIcon"
           [style.color]="viewModel.StatusIconColor"
           (mouseenter)='onStatusIconMouseEnter($event)'
           (mouseleave)='onStatusIconMouseLeave($event)'></i>
        <div class="right-side-div">
            <p-inplace #inplace>
                <span pInplaceDisplay>
                    <span class="h3 plan-name">{{viewModel.PlanCLO.Name}}</span>
                </span>
                <span pInplaceContent>
                    <input #inplaceTextbox class="plan-name-input" type="text"
                           (keyup.enter)="onInplaceAcceptChangesTriggered()"
                           (keyup.esc)="onInplaceCancelChangesTriggered()"
                           (blur)="onInplaceCancelChangesTriggered()"
                           [value]="viewModel.PlanCLO.Name" pInputText><br />
                    <span class="label">Enter to rename. Esc to cancel</span>
                </span>
            </p-inplace>

        </div>

    </div>
    <div class="bottom-part">

        <div class="left-side-text-div">
            <span class="label-discrete">{{viewModel.DateInfoLabel}}</span>
            <span class="label">{{viewModel.DateInfoValue}}</span>

        </div>
        <div class="buttons-div">
            <button *ngIf="viewModel.MainAction"
                    pButton
                    type="button"
                    [icon]="viewModel.MainAction.Icon"
                    [pTooltip]="viewModel.MainAction.TooltipText"
                    [attr.class]="viewModel.MainAction.ButtonClass"
                    (click)="viewModel.MainAction.OnClick()"></button>
            <split-button [MenuItems]="viewModel.GetMenuItems()"></split-button>
        </div>
    </div>
</div>

