.top-part /deep/ .ui-menu {
    /*width: 120px;*/
    background-color: white !important;
}

.top-part /deep/ .ui-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.top-part /deep/ .ui-button-text {
    padding: .25em .5em;
}


.top-part /deep/ .ui-inplace-display:hover {
    background-color:#f8f8f8;
    border-radius:4px;

}
.frame /deep/ .ui-buttonset,
.frame /deep/ button {
    font-size: 14px;
}


.frame {
    background-color: #eaeaea;
    width: calc(100% - 20px);
    padding: 10px;
    height: 79px;
    border-radius: 3px;
}

.active {
    /*background-color: #e5f5bf;*/
}

.top-part {
    width: 100%;
    height: 48px;
}

.top-part > i {
    color: #808080 !important;
    font-size: 1.7em;
    float: left;
    width:25px;
}

.top-part .right-side-div {
    width:calc(100% - 30px);
   
    float:right;
}


    .top-part .right-side-div .plan-name {
        display: inline-block;
        
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 25px;
        line-height: 25px;
        vertical-align: middle;
        width:100%;
    }


    .top-part .right-side-div .plan-name-input {
        width: 100%;
    }
    .top-part .right-side-div .label {
        color: #2399e5;
        display: inline-block;
    }

    .top-part .right-side-div i:hover {
        color:blue;
    }





.bottom-part {
    width: 100%;
    height: 25px;
}



    .bottom-part .left-side-text-div {
        float: left;
        vertical-align: middle;
    }
        
        .bottom-part .left-side-text-div .label-discrete {
            float: left;
            display:block;
            clear: both;
        }
        .bottom-part .left-side-text-div .label {
            float: left;
            clear: both;
            margin-top: 4px;
            display: block;
        }
    .bottom-part .buttons-div 
    {
        float:right;
        padding-top:5px;
    }
        .bottom-part .buttons-div > .split-button {
            float: right;
        }

        .bottom-part .buttons-div > button {
            float: right;
        }
