.top-part /deep/ .ui-menu {
    width: 120px;
}
.top-part /deep/ .ui-menu .ui-menuitem-link {
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
}
.top-part /deep/ .ui-splitbutton {
    float: right;
}

    .top-part /deep/ .ui-splitbutton .ui-button-text-only .ui-button-text {
        display: none;
    }

    .top-part /deep/ .ui-splitbutton .ui-button-text-only {
        visibility: hidden;
    }

.top-part /deep/ .ui-splitbutton-menubutton {
    border-radius: 4px;
}


.frame {
    background-color: #eaeaea;
    width: calc(100% - 10px);
    padding: 10px;
    height: 80px;
    border-radius: 3px;
}

.active {
    background-color: #e5f5bf;
}

.top-part {
    width: 100%;
    height: 48px;
}

    .top-part .plan-name {
        display: inline-block;
    }

.bottom-part {
    width: 100%;
}

    .bottom-part .started-date-label-input-pair {
        float: left;
    }

    .bottom-part .ends-date-label-input-pair {
        float: right;
        height:40px;
        width:45%;
    }

        .bottom-part .ends-date-label-input-pair .label {
            float:right;
            clear:both;
        }
        .bottom-part .ends-date-label-input-pair .input-label {
            float: right;
            clear: both;
        }