.frame {
    border-radius: 25px;
    padding: 6px;
}

.symptom-name-label {
    /*float: left;*/
    /*margin-top: 2px;*/
    /*width: calc(100% - 70px - 5px);*/
    /*text-overflow: ellipsis;*/
    /*display:inline-block;*/
    
    display:block;
}


