<div class="frame">
    <div class="left-side">
        <div class="header">
            <div class="left-section">
                <span class="header-label h1">PLANS AND EVENTS</span>
            </div>
            <div class="center-section">
                <navigation-panel [Label]="'May 2018'"
                                  (PreviousClicked)="onNavigateBackwardTriggered()"
                                  (NextClicked)="onNavigateForwardTriggered()"></navigation-panel>
            </div>

        </div>
        <!--Plans rendering area-->
        <div class="body">
            <svg xmlns="http://www.w3.org/2000/svg" height="4000px" width="100%">
                <svg:defs>


                    <marker id="circle-tick-start" markerWidth="10" markerHeight="10" refX="3" refY="4" orient="auto">
                        <circle cx="4" cy="4" r="2" style="stroke: none; fill:#000000;" />
                    </marker>
                    <marker id="circle-tick-end" markerWidth="10" markerHeight="10" refX="3" refY="4" orient="auto">
                        <circle cx="4" cy="4" r="2" style="stroke: none; fill:#000000;" />
                    </marker>


                    <marker id="arrow" viewBox="0 0 10 10" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto">
                        <path d="M 0 0 L 10 5 L 0 10 z" style="fill:#808080; stroke:none" />
                    </marker>

                    <svg:marker id="arrow-with-vert-tick" refX="6" refY="3" orient="auto" markerWidth="10" markerHeight="10">
                        <svg:line stroke-linecap="round" x1="0" y1="0" x2="6" y2="3" style="stroke:black;stroke-width:1" />
                        <svg:line stroke-linecap="round" x1="0" y1="6" x2="6" y2="3" style="stroke:black;stroke-width:1" />
                        <svg:line x1="6" y1="-6" x2="6" y2="6" style="stroke:black;stroke-width:2" />
                    </svg:marker>

                </svg:defs>

                <svg:g *ngFor="let plan of viewModel.AvailablePlans; let i = index" plan-elem
                       [PlanCLO]="plan"
                       [SelectedDateRange]="viewModel.SelectedDateRange"
                       [XPos]="0"
                       [YPos]="40 * i"></svg:g>

            </svg>


        </div>

    </div>

    <div class="right-side">
        <div class="header">
            <div class="left-section">
                <span class="header-label h2">FILTERS</span>
            </div>

        </div>
    </div>


</div>



<!--<span>{{viewModel.SelectedDateRange.RangeStart.format('DD MM YYYY')}} - {{viewModel.SelectedDateRange.RangeEnd.format('DD MM YYYY')}}</span>-->
<!--<svg:marker id="vert-tick-start" markerWidth="2" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
    <svg:line x1="0" y1="-6" x2="0" y2="6" style="stroke:black;stroke-width:2" />
</svg:marker>
<svg:marker id="vert-tick-end" markerWidth="2" markerHeight="10" refX="1" refY="3" orient="auto" markerUnits="strokeWidth">
    <svg:line x1="0" y1="-6" x2="0" y2="6" style="stroke:black;stroke-width:2" />
</svg:marker>-->
