
.frame {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.left-side {
    width: calc(100% - 240px);
    height: 100%;
    float: left;
}

    .left-side .header {
        width: calc(100% - 36px);
        height: 30px;
        padding: 5px 18px 5px 18px;
        vertical-align: middle;
        line-height: 30px;
        border-radius: 5px 5px 0px 0px;
    }

        .left-side .header .left-section {
            display: block;
            float: left;
            width: calc(33%);
        }

            .left-side .header .left-section .header-label {
                display: block;
                float: left;
            }



        .left-side .header .center-section {
            float: left;
            width: calc(34%);
        }

    .left-side .body {
        height: calc(100% - 45px);
        width: 100%;
        /*padding:5px 13px 0 13px;*/
    }


.factors-rendering-area {
    height: calc(100% - 10px);
    width: calc(100% - 34px);
    padding-right: 17px;
    padding-left: 17px;
    overflow-y: scroll;
    float: left;
    margin-top: -20px;
}
.timeline {
    width: calc(100% - 51px);
    padding-left:18px;
    height: 30px;
    float: left;
}


.right-side {
    border-radius: 0 5px 5px 0;
    width: 238px;
    height: 100%;
    
    float: right;
}

    

