<plan-version-changes-tooltip #versionTooltip></plan-version-changes-tooltip>
<div class="frame" >
    <div class="left-side">
        <div class="header">
            <div class="left-section">
                <span class="header-label h1">MEDICINE</span>
            </div>
            <div class="center-section">
                <navigation-panel #navPanel
                                  [Width]="270"
                                  [TriggerOnlyModeOn]="true"
                                  (DateRangeChangeTriggered)="onSelectedDateRangeChangeTriggered($event)"></navigation-panel>
            </div>
            <div class="right-section">
                <div>
                    <div class="legend-item plan-changes-item">
                        <i class="fa fa-circle"></i>
                        <span class="label-discrete">Changes</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Plans rendering area-->
        <div class="body">
            <div class="factors-rendering-area">
                <svg xmlns="http://www.w3.org/2000/svg" height="700" width="100%" overflow="visible" >

                    <!--Markers-->
                    <svg:defs>
                        <marker id="circle-tick-start" markerWidth="12" markerHeight="12" refX="6" refY="6" orient="auto" overflow="visible">
                            <circle cx="6" cy="6" r="3" style="stroke: none; fill:#000000;" />
                        </marker>
                        <marker id="circle-tick-end" markerWidth="12" markerHeight="12" refX="4" refY="4" orient="auto" overflow="visible">
                            <circle cx="4" cy="4" r="2" style="stroke: none; fill:#000000;" />
                        </marker>

                        <marker id="arrow" refX="10" refY="5" markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto" overflow="visible">
                            <path d="M 0 0 L 10 5 L 0 10 z" style="fill:#d5d5d5; stroke:none" />
                        </marker>
                    </svg:defs>



                    <!--PlanElems-->
                    <svg:g *ngFor="let plan of viewModel.PlansInSelectedDateRange; let i = index" plan-elem
                           overflow="visible"
                           [PlanCLO]="plan"
                           [SelectedDateRange]="viewModel.SelectedDateRange"
                           [XPos]="0"
                           [YPos]="20 + 40 * i"
                           (VersionElemHover)="onVersionElemHover($event)"></svg:g>

                    <!--Vertical TODAY indicator-->
                    <svg:g *ngIf="viewModel.TodayXPosition!==null" today-indicator overflow="visible"
                           [XPos]="viewModel.TodayXPosition"
                           [YPos]="10"></svg:g>
                </svg>
            </div>
            <timeline #timeline></timeline>
        </div>

    </div>

    <div class="right-side">
        <factors-filters-panel #filtersPanel
                       (PlanSelected)="onPlanSelected($event)"
                       (PlanDeselected)="onPlanDeselected($event)"
                       ></factors-filters-panel>
        
    </div>


</div>



