

.frame {
    width: 190px;
    border: solid 1px #d5d5d5;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    padding: 7px 7px 3px 7px;
    z-index: 9999999999;
}

.title-div {
    text-align: center;
    height: 20px;
}

.health-chart-div {
    border:solid 1px red;
}

    .health-chart-div .chart-wrapper-div {
        height: 110px;
    }

.symptoms-div {
    text-align:center;
}

    .symptoms-div .symptom-type-elem {
        display:inline-block;
        margin-top: 3px;
        margin-left: 3px;
    }




.caret-div {
    width: 0;
    height: 0;
    border-top: solid 15px black;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: none;
    position: relative;
    /*left: calc(50% - 10px);
        bottom: -5px;*/
}
