<div #tooltipDiv class="frame"
     [style.visibility]="viewModel.Visible ? 'visible' : 'hidden'"
     [style.top.px]="viewModel.TooltipPos?.Top ? viewModel.TooltipPos.Top : 0"
     [style.left.px]="viewModel.TooltipPos?.Left ? viewModel.TooltipPos.Left : 0">




    <div class="symptoms-div">

        <symptom-type-elem *ngFor="let symptomTypeInfo of viewModel.SymptomTypes"
                           [SymptomTypeWithAvgIntensity]="symptomTypeInfo">
        </symptom-type-elem>
        <div style="clear:both"></div>
    </div>




    
    <div class="health-chart-div">
        <div class="date-label-div">
            <span class="h4">{{viewModel.Title}}</span>
        </div>
        <div class="chart-wrapper-div">
            <p-chart #chart type="line" [data]="viewModel.ChartData" height="80px" [options]="chartOptions"></p-chart>
        </div>
    </div>
    <div class="health-level-div">
        <span class="h4"
               [style.color]="viewModel.SelectedHealthLevelDefinition?.Color">
              {{viewModel.SelectedHealthLevelDefinition?.Label}}</span>
    </div>
    <div class="caret-div"
         [style.top.px]="viewModel.CaretPos?.Top ? viewModel.CaretPos.Top : 0"
         [style.left.px]="viewModel.CaretPos?.Left ? viewModel.CaretPos.Left : 0">
    </div>
</div>
