<div #tooltipDiv class="frame"
     [style.visibility]="viewModel.Visible ? 'visible' : 'hidden'"
     [style.top.px]="viewModel.TooltipPos?.Top ? viewModel.TooltipPos.Top : 0"
     [style.left.px]="viewModel.TooltipPos?.Left ? viewModel.TooltipPos.Left : 0">


    <div class="health-chart-div">
        <span class="label-discrete">Health over day:</span>
        <div class="chart-wrapper-div">
            <p-chart #chart type="line" [data]="viewModel.ChartData" [options]="options"></p-chart>
        </div>
    </div>

    <div class="symptoms-div"
         [style.display]="viewModel.HideSymptomsDiv ? 'none' : 'block'">
        <span class="label-discrete">Symptoms:</span>
        <div class="symptoms-list">
            <div class="symptom-elem-div" *ngFor="let symptomTypeObj of viewModel.SymptomTypes"
                 [style.background]="symptomTypeObj.Color">
                <span class="label">{{symptomTypeObj.SymptomType.Name}}</span>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="caret-div"
         [style.top.px]="viewModel.CaretPos?.Top ? viewModel.CaretPos.Top : 0"
         [style.left.px]="viewModel.CaretPos?.Left ? viewModel.CaretPos.Left : 0">
    </div>
    <div class="title-div">
        <span class="h4">{{viewModel.Title}}</span>
    </div>


</div>
