<form [formGroup]="reactiveForm">

    <div class="frame">


        <span class="h3">{{viewModel.MedicineTypeCLO?.Name}}</span>

        <div class="input-row">

            <div class="inner-label label">Add</div>
            <input type="text" id="supplyAmount" class="ui-inputtext"
                   formControlName="newSupplyAmount"
                   [(ngModel)]="viewModel.NewSupplyAmount"
                   />

            <div class="inner-label label">{{viewModel.MedicineTypeCLO?.RemainingSupplyMeasuredIn}}</div>
            <div *ngIf="viewModel.MedicineTypeCLO?.IsPackagedIntoUnits===true"
                 class="inner-label label"
                 >of {{viewModel.MedicineTypeCLO?.PackagedUnitDoseSize}} {{viewModel.MedicineTypeCLO?.UnitOfMeasureName}} each</div>

        </div>
    </div>
</form>