<form #form="ngForm">
    <div class="what-inner-section">
        <span class="h3-alt what-label">WHAT</span>


        <div class="search-bar" style="display:none">
            <i class="fa fa-search  search-icon"></i>
            <p-autoComplete #autocomplete

                            name="wtf"
                            [(ngModel)]="viewModel.SearchText"
                            lazy="true"
                            [suggestions]="viewModel.MedicineTypeSearchResults"
                            [emptyMessage]="'No matches found'"
                            [placeholder]="'Type to add Supplements'"
                            (completeMethod)="onAddMedicineTypeTextBoxChanged($event)"
                            (onSelect)="onAddMedicineTypeItemSelected($event)"></p-autoComplete>

        </div>


        <button pButton type="button" icon="fa fa-plus" id="add-new-button" 
            (click)="onAddNewIFRPGroupTriggered()"></button>
        <br />
        <div id="elems-list">
            <ifrp-group-elem #IFRPGroupElems *ngFor="let clo of viewModel.RuleItemCLOs"
                             [IFRPGroupCLO]="clo"
                             (ValidStateChanged)="onChildGroupElemValidStateChanged()"
                             (RemoveClicked)="onRemoveIFRPGroupTriggered($event)"></ifrp-group-elem>
            <div *ngIf="viewModel.RuleItemCLOs.length===0" class="label" style="color:red;">
                * You need to add at least one Supplement to this Rule
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</form>

