.frame {
    width: 900px;
    height: 650px;
}

.h3 {
    float: left;
}


.what-section {
    height: calc(100% );
}

    .what-section #elems-list {
        width: calc(100%);
        margin-top: 15px;
        height: calc(100% - 15px);
        box-sizing: padding-box;
    }

    .what-section #add-new-button {
        float: left;
        margin-left: 10px;
        margin-top: -6px;
    }

    .what-section .label-input-pair {
        float: left;
        margin-right: 10px;
    }

        .what-section .label-input-pair:last-of-type {
            margin-right: 0;
        }


    .what-section .ifrp-group-elem {
        float: left;
        margin-bottom: 10px;
        width: 100%;
    }


/*Search bar for Supplements*/
.search-bar {
    float: left;
    width: 100%;
}

.what-section /deep/ .ui-autocomplete {
    float: left;
    font-size: 18px;
    width: calc(100% - 25px);
}

    .what-section /deep/ .ui-autocomplete .ui-inputtext {
        width: 100%;
    }

.what-section .search-icon {
    color: #e9e9e9;
    font-size: 1.3em;
    float: right;
    margin-left: 2px;
    margin-top: 5px;
}
