
input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

.frame {
    width: 280px;
    height: 250px;
}

.label-input-pair {
    float: left;
    margin-bottom: 25px;
    clear: both;
    width:100%;
}

#new-password-div {
    margin-bottom:10px;
}

#email-div .ui-inputtext {
    border: none !important;
}


.ui-inputtext {
    width: 100%;
}