<form [formGroup]="reactiveForm">

    <div class="frame">

        <div class="label-input-pair" id="email-div">
            <span class="label-discrete">Email:</span>
            <input readonly="readonly" type="text" pInputText [value]="viewModel.UserAccountCLO.Email" />

        </div>
        <div class="label-input-pair" id="new-password-div">
            <span class="label-discrete">New Password:</span>
            <input type="password" formControlName="newPassword" pInputText  [(ngModel)]="viewModel.NewPassword" />
        </div>

        <div class="label-input-pair" id="confirm-password-div">
            <span class="label-discrete">Confirm Password:</span>
            <input type="password" formControlName="confirmPassword" pInputText  [(ngModel)]="viewModel.ConfirmPassword" />
        </div>
    </div>
</form>




