<div class="frame">
    <div class="top-section">
        <div class="label-input-pair">
            <span class="h3 label">Name:</span>
            <input required type="text" class="ui-inputtext" name="planName" id="plan-name-input" value="."
                   [(ngModel)]="viewModel.PlanCLO.Name" />

        </div>
        <div class="label-input-pair">
            <span class="h3 label">Start date:</span>
            <p-calendar id="start-date-picker"
                        disabled="true"
                        showIcon="true"></p-calendar>
        </div>
        <div class="label-input-pair">
            <span class="h3 label">End date:</span>
            <p-calendar id="end-date-picker"
                        showIcon="true"></p-calendar>
        </div>
    </div>
    <div class="rules-section">
        <span class="h2">RULES:</span>
        <icon-button [IconName]="'plus'" id="add-new-rule-button" (click)="viewModel.CreateNewRule()"></icon-button>
        <br />
        <div class="rules-list">

        </div>
    </div>
    
</div>
