<form #form="ngForm">

    <div class="frame">
        <div class="top-section">
            <div class="label-input-pair">
                <span class="label">Name:</span>
                <input required type="text" class="ui-inputtext" name="planName" id="plan-name-input" 
                       [(ngModel)]="viewModel.PlanCLO.Name" />

            </div>
            <div class="label-input-pair">
                <span class="label">Start date:</span>
                <p-calendar id="start-date-picker"
                            name="startdatepicker"
                            readonlyInput="true"
                             [(ngModel)]="viewModel.CurrentVersionCLO.StartDate"
                            showIcon="true"></p-calendar>
            </div>
            <div class="label-input-pair">
                <span class="label">End date:</span>
                <p-calendar id="end-date-picker"
                            showIcon="true"></p-calendar>
            </div>
        </div>
        <div class="rules-section">
            <span class="h2">RULES:</span>
            <icon-button [IconName]="'plus'" id="add-new-rule-button" (click)="onAddNewRuleTriggered()"></icon-button>
            <br />
            <div class="rules-list">
                <rule-elem #ruleelems *ngFor="let rule of viewModel.CurrentVersionCLO.Rules" 
                           (ValidStateChanged)="onChildGroupElemChanged()"
                           (RemoveClicked)="onRemoveRuleTriggered($event)"
                           [RuleCLO]="rule">
                </rule-elem>
            </div>
        </div>

    </div>
</form>