
<form [formGroup]="reactiveForm">
    
    <div class="frame">
        <div *ngIf="viewModel.InfoMessage != null" class="info-msg label">{{viewModel.InfoMessage}}</div>

        <div class="top-section">
            <div class="label-input-pair">
                <span class="label">Name:</span>

                <input pInputText type="text" id="plan-name-input" formControlName="planName"  [(ngModel)]="viewModel.PlanCLO.Name" />
                
            </div>
            <div class="label-input-pair start" formGroupName="dates">
                <span class="label">
                    {{viewModel.StartDateLabel }}
                </span>
                <p-calendar formControlName="startDate"
                            dateFormat="dd-mm-yy"
                            id="start-date-picker"
                            readonlyInput="true"
                            [(ngModel)]="viewModel.CurrentVersionCLO.StartDateTime"
                            showIcon="true"></p-calendar>
            </div>
            <div class="label-input-pair" formGroupName="dates">
                <span class="label">
                    {{viewModel.EndDateLabel }}
                </span>
                <p-calendar formControlName="endDate"
                            dateFormat="dd-mm-yy"
                            id="end-date-picker"
                            [(ngModel)]="viewModel.CurrentVersionCLO.EndDateTime"
                            showIcon="true"></p-calendar>
            </div>
        </div>
        <div class="rules-section">
            <span class="h2">RULES:</span>
            <button pButton type="button" icon="fa fa-plus" id="add-new-rule-button" label="Add Rule"
                    (click)="onAddNewRuleTriggered()"></button>
            <br />
            <div class="rules-list">
                <rule-elem #ruleelems *ngFor="let rule of viewModel.CurrentVersionCLO.Rules"
                           (ValidStateChanged)="onChildRuleElemValidStateChanged()"
                           (RemoveClicked)="onRemoveRuleTriggered($event)"
                           [AvailableMedicineTypes]="availableMedicineTypes"
                           [RuleCLO]="rule">
                </rule-elem>
            </div>
        </div>

    </div>
</form>