

.frame {
    width: 270px;
    height: 280px;
    border: solid 1px #d5d5d5;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    padding: 10px;
}

    .frame .header {
        text-align: center;
        height: 20px;
    }

    .frame .chart-wrapper-div {
        padding-top: 10px;
        height:150px;
    }


    .frame .symptoms-list {
        height:calc(100% - 170px - 20px);
        width:100%;
    }

    .frame .caret-div {
        width: 0;
        height: 0;
        border-top: solid 15px black;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
        border-bottom: none;
        position: relative;
        left: calc(50% - 10px);
        bottom: -20px;
    }




.h3 {
    color: black;
}
