/deep/ .ui-autocomplete input {
    height: 27px;
    width: 260px;
    font-size: 10pt;
    font-family: Arial;
}

.frame {
    background-color: white;
    height: 70px;
    width: calc(100% - 5px);
}

.label-input-pair {
    float: left;
    margin-right: 10px;
}

    .label-input-pair:last-of-type {
        margin-right: 0;
    }

.draggable-area {
    background-color: #efefef;
    border-radius: 6px 0 0 6px;
    float: left;
    width: 20px;
    height: 100%;
    cursor: move;
}

.right-side {
    background-color: #f7f7f7;
    float: right;
    padding: 15px 10px 15px 10px;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
}

    .right-side .medicine-type-text-box {
        width: 260px;
        float: left;
        clear: both;
    }

    .right-side .method-type-drop-down {
        width: 110px;
    }

    .right-side .nr-pieces-text-box {
        width: 25px;
    }

    .right-side .x-label {
        float: left;
        margin-left: -3px;
        margin-right: 5px;
        height: 45px;
        vertical-align: middle;
        line-height: 45px;
        padding-top: 4px;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
    }

    .right-side .piece-size-text-box {
        width: 50px;
    }

    .right-side .piece-unit-drop-down {
        width: 60px;
    }

    .right-side .instructions-drop-down {
    }

    .right-side .close {
        margin-top: 10px;
        float: right;
        width: 16px;
        height: 16px;
        cursor: pointer;
        font-family: Arial;
        font-weight: bold;
        text-align: right;
        color: gray;
    }


.hide-controls-overlay {
    width: calc(100% - 320px);
    margin-right:25px;
    height: 70px;
    background-color: #f7f7f7;
    float: right;
    margin-top: -70px;
}
