<div class="frame">
    <div class="draggable-area"></div>
    <div class="right-side">
        <div class="label-input-pair medicine-type-input-pair">
            <span class="h3 label">Medicine Type</span>


            <p-autoComplete [suggestions]="viewModel.MedicineTypeSearchResults"
                            [emptyMessage]="'No medicine types could be found. Please try a different name'"
                            [placeholder]="'Type to choose a Medicine Type'"
                            (completeMethod)="onMedicineTypeTextBoxChanged($event)"
                            (onSelect)="onMedicineTypeSelected($event)"></p-autoComplete>


        </div>

        <div class="label-input-pair quantifier-input-pair">
            <span class="h3 label">Dosage</span>
            <input type="text" class="ui-inputtext" [(ngModel)]="viewModel.FactorRecordCLO.UnitDoseQuantifier" />
        </div>

        <div class="label-input-pair dose-type-input-pair">
            <span class="h3 label"></span>
            <select class="drop-down" [(ngModel)]="viewModel.FactorRecordCLO.UnitDoseType" [attr.disabled]="viewModel.UserDefinedControlsAreLocked?'true':null">
                <option *ngFor="let doseType of unitDoseTypesEnum | enumkeys" [value]="doseType.value">{{doseType.key}}</option>
            </select>
        </div>

        <div class="x-label">of</div>
        <div class="label-input-pair dose-size-input-pair">
            <span class="h3 label"></span>
            <input type="text" class="ui-inputtext" [(ngModel)]="viewModel.FactorRecordCLO.UnitDoseSize" [attr.disabled]="viewModel.UserDefinedControlsAreLocked?'true':null" />
        </div>

        <div class="label-input-pair dose-uom-input-pair">
            <span class="h3 label"></span>
            <select class="drop-down" [(ngModel)]="viewModel.FactorRecordCLO.UnitDoseUoM" [attr.disabled]="viewModel.UserDefinedControlsAreLocked?'true':null">
                <option *ngFor="let uom of unitsOfMeasureEnum | enumkeys" [value]="uom.value">{{uom.key}}</option>
            </select>
        </div>

        <div class="label-input-pair instructions-input-pair" >
            <span class="h3 label">Instructions</span>
            <select class="drop-down" [(ngModel)]="viewModel.FactorRecordCLO.Instruction">
                <option *ngFor="let instruction of medicineInstructionsEnum | enumkeys" [value]="instruction.value">{{instruction.key}}</option>
            </select>
        </div>
        <div class="close" (click)="onRemoveClicked()">X</div>

    </div>
    <div class="hide-controls-overlay" *ngIf="viewModel.OverlayIsVisible"></div>


</div>