<div class="frame">
    <div class="draggable-area"></div>
    <div class="right-side">
        <div class="label-input-pair">
            <span class="h3 label">Medicine Type</span>


            {{viewModel.MedicineTypeName}}
            <p-autoComplete class="medicine-type-text-box"
                            [suggestions]="viewModel.MedicineTypeSearchResults"
                            [emptyMessage]="'No medicine types could be found. Please try a different name'"
                            [placeholder]="'Type to choose a Medicine Type'"
                            (completeMethod)="onMedicineTypeTextBoxChanged($event)"
                            
                            (onSelect)="onMedicineTypeSelected($event)"></p-autoComplete>


        </div>
        <!--<div class="label-input-pair">
            <span class="h3 label">Method</span>
            <select class="drop-down method-type-drop-down">
                <option *ngFor="let method of medicineMethodsEnum | keys">{{method.value}}</option>
            </select>
        </div>
        <div class="label-input-pair">
            <span class="h3 label">Pieces</span>
            <input type="text" class="ui-inputtext nr-pieces-text-box" />
        </div>
        <div class="x-label">x</div>
        <div class="label-input-pair">
            <span class="h3 label">Piece size</span>
            <input type="text" class="ui-inputtext piece-size-text-box" />
        </div>
        <div class="label-input-pair">
            <span class="h3 label">Unit</span>
            <select class="drop-down piece-unit-drop-down">
                <option *ngFor="let unit of unitsOfMeasureEnum | keys">{{unit.value}}</option>
            </select>
        </div>
        <div class="label-input-pair">
            <span class="h3 label">Instructions</span>
            <select class="drop-down instructions-drop-down">
                <option *ngFor="let instruction of medicineInstructionsEnum | keys">{{instruction.value}}</option>
            </select>
        </div>-->
        <div class="close" (click)="onRemoveClicked()">X</div>

    </div>
    <div class="hide-controls-overlay" *ngIf="viewModel.OverlayIsVisible()"></div>

   
</div>