<div class="frame">
    <div class="when-section">
        <span class="h2">WHEN</span>
        <br />
        <div class="label-input-pair">
            <span class="h3 label">Date and Time:</span>
            <p-calendar id="occurrence-date-time-picker"
                        showIcon="true"
                        readonlyInput="true"
                        [(ngModel)]="viewModel.OccurenceDateTime"
                        [showTime]="true"></p-calendar>
        </div>
    </div>

    <div class="what-section">
        <span class="h2">WHAT</span>
        <icon-button [IconName]="'plus'" id="add-new-medicine-button" (click)="viewModel.CreateNewFactorRecord()"></icon-button>
        <br />
        <div id="factor-records-list">
            <factor-record-editable-item *ngFor="let factorRecord of viewModel.FactorRecords"
                                         [MedicineFactorRecord]="factorRecord"
                                         [MedicineSearchService]="searchService"
                                         (RemoveClicked)="onRemoveFactorRecordTriggered($event)"></factor-record-editable-item>
        </div>
    </div>
</div> 