<div class="frame">
    <div class="when-section">
        <span class="h2">WHEN</span>
        <br />
        <div class="label-input-pair">
            <span class="label">Event date and time:</span>
            <p-calendar id="occurrence-date-time-picker"
                        dateFormat="dd-mm-yy"
                        showIcon="true"
                        readonlyInput="true"
                        [(ngModel)]="viewModel.OccurenceDateTime"
                        [showTime]="true"></p-calendar>
        </div>
    </div>

    <div class="what-section">
        <ifrp-group-list #ifrpgrouplist 
                         [IFRPGroupCLOs]="viewModel.FactorRecordCLOs"
                         [AvailableMedicineTypes]="availableMedicineTypes"
                         (ValidStateChanged)="onGroupListValidStateChanged()"
                         (AddNewClicked)="onAddFactorRecordTriggered()"
                         ></ifrp-group-list>
    </div>
</div> 