.frame {
    width: 900px;
    height: 650px;
}

.h2 {
    float: left;
}



.when-section {
    height: 90px;
}

    .when-section #occurrence-date-time-picker  {
        float: left;
        clear:both;
    }
    .when-section #occurrence-date-time-picker .ui-inputtext {
        width: 250px;
    }

    .when-section .label-input-pair {
        margin-top: 10px;
        margin-right: 15px;
    }


.what-section {
    height: calc(100% - 120px);
}

    .what-section #factor-records-list {
        width: calc(100%);
        margin-top: 15px;
        height: calc(100% - 15px);
        overflow-y: scroll;
    }

    .what-section #add-new-medicine-button {
        float: left;
        margin-left: 10px;
        margin-top: -4px;
    }

    .what-section .label-input-pair {
        float: left;
        margin-right: 10px;
    }

        .what-section .label-input-pair:last-of-type {
            margin-right: 0;
        }


    .what-section .ifrp-group-elem {
        float: left;
        margin-bottom: 10px;
        width: 100%;
    }
