.frame /deep/ .ui-autocomplete input {
    height: 27px;
    width: 330px;
    font-size: 10pt;
    font-family: Arial;
    
}

.frame /deep/ .ui-autocomplete .ui-button {
    float: right;
    margin-top: -26px;
    height: 25px;
}

.medicine-type-input-pair /deep/ .ng-invalid.ng-touched .ui-inputtext {
    border: 1px solid red !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

.frame {
    height: 70px;
    width: calc(100% - 5px);
    border-radius: 6px 0 0 6px;
    border: solid 1px #dbdbdb;
}

.label-input-pair {
    float: left;
    margin-right: 10px;
}
.label-input-pair .label{
    color:black;

}
    .label-input-pair:last-of-type {
        margin-right: 0;
    }

.draggable-area {
    background-color: white;
    border-radius: 6px 0 0 6px;
    float: left;
    width: 20px;
    height: 100%;
}

.right-side {
    background-color: white;
    float: right;
    padding: 15px 10px 15px 10px;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
}

    .right-side .medicine-type-input-pair {
        width: 330px;
        margin-right: 35px;
    }

    .right-side .quantifier-input-pair {
        margin-right: 2px !important;
    }

        .right-side .quantifier-input-pair .ui-inputtext {
            width: 20px;
            text-align: right;
        }

    .right-side .dose-type-input-pair .drop-down {
        width: 100px;
    }


    .right-side .of-label {
        float: left;
        margin-left: -3px;
        margin-right: 5px;
        margin-top:5px;
        height: 45px;
        vertical-align: middle;
        line-height: 45px;
        padding-top: 4px;
        font-family: Arial;
        font-size: 10pt;
    }



    .right-side .dose-size-input-pair .ui-inputtext {
        width: 80px;
        text-align: right;
    }


    .right-side .dose-uom-input-pair .ui-inputtext {
        width: 60px;
    }


    .right-side .instructions-input-pair {
        margin-left: 50px;
    }

        .right-side .instructions-input-pair .drop-down {
        }

.remove-button {
    float: right;
    margin-top: -4px;
    cursor: pointer;
    color: gray;
}

    .remove-button:hover {
        color: blue;
    }


.hide-controls-overlay {
    width: calc(100% - 390px);
    margin-right: 25px;
    height: 70px;
    background-color: white;
    float: right;
    margin-top: -70px;
}
