<form [formGroup]="reactiveForm">
    <div class="frame">
        <div class="draggable-area"></div>
        <div class="right-side">

            <!--Medicine picker-->
            <div class="label-input-pair medicine-type-input-pair">
                <span class="label-discrete">Medicine Type</span>
                <p-autoComplete #autocomplete
                                formControlName="medicineTypeName"
                                lazy="true"
                                [suggestions]="viewModel.MedicineTypeSearchResults"
                                [emptyMessage]="'No matches found'"
                                [placeholder]="'Choose a Medicine Type'"
                                [dropdown]="true"
                                (completeMethod)="onMedicineTypeTextBoxChanged($event)"
                                (onSelect)="onMedicineTypeSelected($event)"></p-autoComplete>
            </div>

            <!--Quantifier-->
            <div class="label-input-pair quantifier-input-pair">
                <span class="label-discrete">Dosage</span>

                <input pInputText type="text"  formControlName="unitDoseQuantifierInput" [(ngModel)]="viewModel.IFRPGroupCLO.UnitDoseQuantifier" />
            </div>

            <!--UnitDoseType-->
            <div class="label-input-pair dose-type-input-pair">
                <span class="label-discrete"></span>
                <select class="drop-down"
                        [value]="viewModel.IFRPGroupCLO.UnitDoseType"
                        (ngModelChange)="onUnitDoseTypeChanged($event)"
                        [attr.disabled]="viewModel.UserDefinedControlsAreLocked?'true':null"
                        formControlName="unitdosetype"
                        name="unitdosetype">
                    <option *ngFor="let doseType of viewModel.UnitDoseTypesEnum | enumkeys" [value]="doseType.value">{{doseType.key}}</option>
                </select>
            </div>

            <div class="label of-label">of</div>

            <!--UnitDoseSize-->
            <div class="label-input-pair dose-size-input-pair">
                <span class="label"></span>
                <input pInputText type="text" formControlName="unitdosesize" 
                       (ngModelChange)="onUnitDoseSizeChanged($event)"
                       [attr.disabled]="viewModel.UserDefinedControlsAreLocked?'true':null"
                       [(ngModel)]="viewModel.IFRPGroupCLO.UnitDoseSize" />

            </div>

            <!--Unit of Measure-->
            <div class="label-input-pair dose-uom-input-pair">
                <span class="label"></span>
                <input pInputText type="text" disabled="disabled"
                       [value]="viewModel.IFRPGroupCLO.UnitOfMeasureName" />

                
            </div>
            <div class="label of-label">each</div>
            
            <i class="fa fa-times remove-button" (click)="onRemoveClicked()"></i>

        </div>
        <div class="hide-controls-overlay" *ngIf="viewModel.OverlayIsVisible"></div>


    </div>

</form>

