.frame {
    height: 100%;
    width: 100%;
}

    .frame .unit-header {
        height: 30px;
        width: 100%;
        line-height: 30px;
        text-transform: uppercase;
        text-align:center;
    }

.time-group {
    overflow: auto;
    margin-top: 15px;
}

    .time-group:first-of-type {
        margin-top: 0;
    }

    .time-group .hours-and-minutes-label {
        font-family: Tahoma;
        font-size: 10pt;
        font-weight: bold;
        letter-spacing: 1.5px;
        display: block;
        float: left;
        width: 40px;
        margin-top: -2px;
    }

    .time-group .plan-divs-list {
        clear: both;
        float: left;
        width: calc(100%);
    }

.plan-divs-list {
}

    .plan-divs-list .plan-div:first-of-type {
       
    }

    .plan-div .plan-name-label {
        display: block;
        width: 100%;
    }

    .plan-div .factor-record-list-in-plan-grouping {
        background-color: #e5f5bf;
        padding: 5px;
        border-radius: 3px;
    }

    .plan-div .factor-record-item {
        float: left;
        clear: both;
        width: 100%;
        margin-top: 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
    }
