<!--ScheduleUnit representation-->
<div class="frame">
    <div class="unit-header h3">{{viewModel.Title}}</div>
    <div class="unit-content">

        <div *ngFor="let timeGroup of viewModel.TimeGroups | keys" class="time-group">
            <span class="hours-and-minutes-label h3-alt">{{timeGroup.key}}</span>
            <div class="plan-divs-list">
                <div *ngFor="let dictEntry of timeGroup.value.FactorRecordsByPlanName | keys"
                     [class.user-entry]="dictEntry.key==='null'"
                     class="plan-div">


                    <!--FactorRecords in Plan-->
                    <div class="factor-record-list-in-plan-grouping">
                        <div *ngFor="let record of timeGroup.value.GetSortedFactorRecords(dictEntry.key)"
                             (click)="onFactorRecordItemClicked(record)"
                             [ngClass]="{'taken-factor-record-item': record.Taken === true }"
                             class="factor-record-item label-medium">

                            {{record.UnitDoseQuantifier}} x {{record.MedicineType.Name}}
                            <span class="label-discrete" *ngIf="record.UnitDoseSize!==null">{{record.UnitDoseSize + ' ' + record.UnitOfMeasureName}}</span>
                            <span class="label-discrete" *ngIf="record.HasUserDefinedUnitDose===true">{{userDefinedUnitDoseTypesEnum[record.UserDefinedUnitDoseType]}}</span>
                            <span *ngIf="record.RecentlyAdded===true" class="recently-added-span label-small-inv">NEW</span>
                            <i class="fa fa-check"></i>
                        </div>
                    </div>

                    <!--PlanName-->
                    <!--<span *ngIf="dictEntry.key!=='null'" class="plan-name-label label" [attr.title]="dictEntry.key">{{dictEntry.key}}</span>-->
                </div>

            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

