<form #form="ngForm">
    <div class="frame">
        <i class="fa fa-times remove-button" (click)="onRemoveClicked()"></i>

        <div class="when-section">

            <span class="h3-alt when-label">WHEN</span>

            <br />
            <select class="drop-down" name="ordinalfrequency" [(ngModel)]="viewModel.RuleCLO.OrdinalFrequencyType">
                <option *ngFor="let ordFreq of ordinalFreqTypesEnum | enumkeys" [value]="ordFreq.value">{{ordFreq.key}}</option>
            </select>
            <select class="drop-down" name="rulefreq" [(ngModel)]="viewModel.RuleCLO.FrequencyType">
                <option *ngFor="let freqType of ruleFreqTypesEnum | enumkeys" [value]="freqType.value">{{freqType.key}}</option>
            </select>
            <div [class.hidden-non-daily-controls-div]="viewModel.HideNonDailyControlsDiv==true"
                 class="non-daily-controls-div">
                <span class="label on-label">on</span>
                <div class="week-days-list">
                    <custom-checkbox [LabelText]="'MON'"
                                     [(ngModel)]="viewModel.RuleCLO.DaysInWeek.Monday" name="monday"></custom-checkbox>
                    <custom-checkbox [LabelText]="'TUE'"
                                     [(ngModel)]="viewModel.RuleCLO.DaysInWeek.Tuesday" name="tuesday"></custom-checkbox>
                    <custom-checkbox [LabelText]="'WED'"
                                     [(ngModel)]="viewModel.RuleCLO.DaysInWeek.Wednesday" name="wednesday"></custom-checkbox>
                    <custom-checkbox [LabelText]="'THU'"
                                     [(ngModel)]="viewModel.RuleCLO.DaysInWeek.Thursday" name="thursday"></custom-checkbox>
                    <custom-checkbox [LabelText]="'FRI'"
                                     [(ngModel)]="viewModel.RuleCLO.DaysInWeek.Friday" name="friday"></custom-checkbox>
                    <custom-checkbox [LabelText]="'SAT'"
                                     [(ngModel)]="viewModel.RuleCLO.DaysInWeek.Saturday" name="saturday"></custom-checkbox>
                    <custom-checkbox [LabelText]="'SUN'"
                                     [(ngModel)]="viewModel.RuleCLO.DaysInWeek.Sunday" name="sunday"></custom-checkbox>
                </div>
            </div>
            <div class="moments-in-day-div">
                <span class="label at-label">at</span>
                <p-chips id="moments-in-day-input"
                         name="momentsinday"
                         [styleClass]="viewModel.ShowChipsInputInvalid ? 'chips-input-invalid' : ''"
                         addOnTab="true"
                         addOnBlur="true"
                         placeholder="For example 15:30"
                         (onAdd)="onAddMomentInDayChip($event.value)"
                         (onRemove)="onRemoveMomentInDayChip($event.value)"
                         [(ngModel)]="viewModel.MomentsInDayAsStrings"></p-chips>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="what-section">
            <ifrp-group-list #ifrpgrouplist
                             (CreateNewMedicineTypeTriggered)="onCreateNewMedicineTypeTriggered($event)"
                             [IFRPGroupCLOs]="viewModel.RuleCLO.MedicineRuleItems"
                             [AvailableMedicineTypes]="availableMedicineTypes"
                             (ValidStateChanged)="onGroupListValidStateChanged()"
                             (AddNewClicked)="onAddIFRPGroupTriggered()"></ifrp-group-list>

        </div>

    </div>

</form>

