.moments-in-day-div /deep/ .ng-touched .chips-input-invalid {
    border: solid 1px red !important;
}

.frame {
    background-color: #efefef;
    /*min-height: 190px;*/
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 6px;
}

.remove-button {
    float: right;
    margin-top: -4px;
    cursor: pointer;
    color: #414141;
    font-size: 1.4em;
}
.remove-button:hover {
    color: blue;
}

.what-section /deep/ .ifrp-group-elem .frame {
}

.when-section {
    height: 80px;
}

    .when-section .when-label {
        display: inline-block;
        padding-bottom: 10px;
        color:black;
    }

    .when-section .drop-down {
        float: left;
        margin-right: 10px;
    }

    .when-section .non-daily-controls-div {
        width: 310px;
        float: left;
    }

        .when-section .non-daily-controls-div .on-label {
            display: block;
            margin-right: 10px;
            margin-top: 5px;
            float: left;
        }

    .when-section .hidden-non-daily-controls-div {
        display: none;
    }

    .when-section .moments-in-day-div {
        float: left;
        height: 50px;
        width: 225px;
        
    }
    
        .when-section .moments-in-day-div .at-label {
            display: block;
            margin-right: 10px;
            margin-top: 5px;
            float: left;
        }


        .when-section .moments-in-day-div #moments-in-day-input {
            float: left;
            
            width: calc(100% - 25px);
            height: 20px;
        }

.when-section /deep/ .moments-in-day-div #moments-in-day-input .ui-inputtext {
    
}

.when-section /deep/ .moments-in-day-div #moments-in-day-input .ui-chips-input-token input {
    margin-top: -5px;
}

.what-section {
    width: 100%;
}

    .what-section .what-label {
        float: left;
        padding-bottom: 10px;
    }

    .what-section #add-new-rule-item-button {
        float: left;
        margin-left: 10px;
        margin-top: -4px;
    }

    


.check-box-label-pair {
    background-color: white;
    border: solid 1px #dbdbdb;
    padding: 3px;
    float: left;
    margin-right: 2px;
    width: 30px;
}

    .check-box-label-pair input {
        float: left;
        clear: both;
        margin-left: 10px;
    }

    .check-box-label-pair span {
        float: left;
        clear: both;
        color: black;
        width: 30px;
        text-align: center;
    }
