.moments-in-day-div /deep/ .ng-touched .chips-input-invalid {
    border: solid 1px red !important;
}

.moments-in-day-div /deep/ .ui-chips-token {
   padding:1px;
   margin-top:2px;
}
.moments-in-day-div /deep/ .ui-chips-token:last-of-type {
   margin-right:0;
}
.moments-in-day-div /deep/ .ui-chips-token-label {
    margin-right:20px;
}
.moments-in-day-div /deep/ .ui-chips-input-token input.undefined {
    margin-top:-3px;
}
.frame {
    background-color: #efefef;
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 6px;
}

.remove-button {
    float: right;
    margin-top: -4px;
    cursor: pointer;
    color: #414141;
    font-size: 1.4em;
}
.remove-button:hover {
    color: blue;
}


.when-section {
    min-height: 62px;
    padding-bottom:10px;
    border-bottom: dashed 1px #8d8d8d;
}

    .when-section .when-label {
        display: inline-block;
        padding-bottom: 10px;
    }

    .when-section .drop-down {
        float: left;
        margin-right: 5px;
    }

    .when-section .non-daily-controls-div {
        width: 295px;
        float: left;
    }

        .when-section .non-daily-controls-div .on-label {
            display: block;
            margin-right: 8px;
            margin-left:5px;
            margin-top: 8px;
            float: left;
        }

    .when-section .hidden-non-daily-controls-div {
        display: none;
    }

    .when-section .moments-in-day-div {
        float: left;
        width: 230px;
        
    }

        .when-section .moments-in-day-div .at-label {
            display: block;
            margin-right: 8px;
            margin-left: 5px;
            margin-top: 8px;
            float: left;
        }


        .when-section .moments-in-day-div #moments-in-day-input {
            float: left;
            
            width: calc(100% - 25px);
        }




.what-section {
    width: 100%;
    margin-top:20px;
}

    .what-section .what-label {
        float: left;
        padding-bottom: 10px;
    }

    .what-section #add-new-rule-item-button {
        float: left;
        margin-left: 10px;
        margin-top: -4px;
    }



.custom-checkbox {
    float: left;
    margin-right: 2px;
    margin-top: 2px;
}
.check-box-label-pair {
    background-color: #186ba0;
    border-radius: 6px;
    padding: 3px;
    margin-right: 2px;
    margin-top: 2px;
    float: left;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

    .check-box-label-pair input {
        float: left;
        clear: both;
        margin-left: 10px;
    }

    .check-box-label-pair span {
        float: left;
        clear: both;
        color: white;
        width: 30px;
        text-align: center;
    }
