<p-blockUI [blocked]="viewModel.Blocked">
    <div class="inner-div">
        <p-progressSpinner strokeWidth="4"></p-progressSpinner>
    </div>
</p-blockUI>

<div class="frame">

    <div class="header">
        <div class="left-section">
            <span class="header-label h1">SCHEDULE</span>
            <icon-button [IconName]="'plus'" (Clicked)="onAddNewEventTriggered()"></icon-button>
        </div>
        <div class="center-section">
            <navigation-panel #navPanel
                              (DateRangeChangedBackward)="onSelectedDateRangeChangedBackward($event)"
                              (DateRangeChangedForward)="onSelectedDateRangeChangedForward($event)"></navigation-panel>
        </div>
        <div class="right-section">
            <!--<select class="view-mode-selector">
                <option>Day</option>
                <option>Week</option>
            </select>-->
        </div>
    </div>
    <div class="body" [@goForwardAnimation]="animationVariables.animateForward" [@goBackwardAnimation]="animationVariables.animateBackward">
        <schedule-unit *ngFor="let unitRepr of viewModel.VisibleDisplayRepresentation.UnitRepresentations"
                       [Title]="unitRepr.Title"
                       [TimeGroupRepresentations]="unitRepr.TimeGroupRepresentations">

        </schedule-unit>



    </div>
</div> 