<div class="frame">
    <div class="navigation-menu">
        <a class="navigation-menu-item" href="/HomePage" [ngClass]="{'active': activePageName === 'HomePage' }">Dashboard</a>
        <a class="navigation-menu-item" href="/AnalysisPage" [ngClass]="{'active': activePageName === 'AnalysisPage' }">Analysis</a>
    </div>
    <div class="user-status-panel">
        <div (click)="onUserEmailClicked()" class="user-name-item">
            {{viewModel.LoggedInUser?.Email }}
        </div>
        <div (click)="onLogoutTriggered()" class="logout-item">
            <img src="/Images/log-out.png"/>
        </div>
    </div>
</div> 