.frame {
    height: 30px;
    width: 100%;
    background-color: #525252;
}

.navigation-menu {
    float: left;
    margin-left: 15px;
}

.navigation-menu-item {
    color: white;
    height: 30px;
    line-height: 30px;
    font-family: Arial;
    font-size: 15px;
    letter-spacing: 1.5px;
    
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
}
.navigation-menu-item.active {
    background-color: #808080;
}
    .navigation-menu-item:hover {
        background-color: #6c6c6c;
    }


.user-status-panel {
    float: right;
    margin-right: 15px;
    text-align: right;
    height: 30px;
}

    .user-status-panel .user-name-label {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
        color: white;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        font-family: Arial;
        font-size: 11px;
        margin-top: 0 !important;
    }

.logout-item {
    float: left;
    height: 16px;
    width: 16px;
    padding: 7px;
    cursor: pointer;
}

    .logout-item img {
        margin: 0;
        padding: 0;
    }

    .logout-item:hover {
        background-color: #6c6c6c;
    }
