.frame {
    height: 30px;
    width: 100%;
    background-color: #525252;
    border-radius: 0 0 5px 5px;
}

.navigation-menu {
    float: left;
}

.navigation-menu-item {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
}

    .navigation-menu-item:first-of-type {
        border-radius: 0 0 0 5px;
    }

    .navigation-menu-item.active {
        background-color: #808080;
    }

    .navigation-menu-item:hover {
        background-color: #6c6c6c;
    }


.user-status-panel {
    float: right;
    text-align: right;
    height: 30px;
}

.user-status-item {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    cursor: pointer;
}

    .user-status-item:last-of-type {
        border-radius: 0 0 5px 0;
    }


    .user-status-item.menu-bar-open,
    .user-status-item:hover {
        background-color: #6c6c6c;
    }

    .user-status-item i {
        color: white;
        line-height: 30px;
        vertical-align: middle;
    }

    .user-status-item > span {
        display: inline-block;
        padding-left: 3px;
        line-height: 30px;
        vertical-align: middle;
        cursor: pointer;
    }



.menu-div {
    position: relative;
    float: right;
    clear: both;
    border: solid 1px #c6c6c6;
    background-color: white;
    z-index: 100;
    text-align: left;
}

.menu-item {
    cursor: pointer;
    padding: 5px 10px 5px 10px;

    width: 180px;
}

    .menu-item:hover {
        background-color: #c6c6c6;
    }

    .menu-item > i {
        margin-right: 7px;
    }

    .menu-item > span {
    }
