<div class="frame">
    <span class="symptom-name-label h2">{{viewModel.SymptomEntryCLO?.SymptomType?.Name}}</span>

    <div class="intensity-levels-list">

        <div class="intensity-level-elem"
             *ngFor="let def of symptomIntensityDefinitions"
             [style.background]="viewModel.GetBGColorForIntensityElem(def)"
             (mouseenter)="onIntensityLevelMouseEnter(def)"
             (mouseleave)="onIntensityLevelMouseLeave()"
             (click)="onIntensityLevelClicked(def)">

        </div>
    </div>
    <div class="intensity-level-label label-large"
         [style.color]="viewModel.SelectedIntensityDef?.Color">{{viewModel.SelectedIntensityDef?.Label}}</div>

    <i class="fa fa-times remove-button" (click)="onRemoveClicked()"></i>
    <div style="clear: both"></div>
</div>

<!--(mouseenter)="hoverBox = true;"
             (mouseleave)="hoverBox = false;"-->
<!--[style.background]="definition.Color"-->
<!--[ngClass]="definition.IntensityLevel === viewModel.SymptomEntryCLO.IntensityLevel ? 'selected-level' : ''"-->
<!--{{viewModel.SelectedIntensityDef?.IntensityLevel}}
{{viewModel.HoveredIntensityDef?.IntensityLevel}}-->
