

.frame {
    background-color: #f7f7f7;
    height: 350px;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
}

.close {
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    font-family: Arial;
    font-weight: bold;
    text-align: right;
    color: gray;
}

.when-section {
    height: 90px;
}

    .when-section .when-label {
        display: inline-block;
        padding-bottom: 10px;
    }

    .when-section .drop-down {
        float: left;
        margin-right: 10px;
    }

    .when-section .non-daily-controls-div {
        width: 340px;
        float: left;
    }

        .when-section .non-daily-controls-div .on-label {
            display: block;
            margin-right: 10px;
            margin-top: 5px;
            float: left;
        }

    .when-section .hidden-non-daily-controls-div {
        display: none;
    }

    .when-section .moments-in-day-div {
        float: left;
        height: 50px;
        width: 300px;
    }

        .when-section .moments-in-day-div .at-label {
            display: block;
            margin-right: 10px;
            margin-top: 5px;
            float: left;
        }


        .when-section .moments-in-day-div #moments-in-day-input {
            float: left;
            width: 250px;
            height: 20px;
            margin-top: -1px;
        }

/deep/ .when-section .moments-in-day-div #moments-in-day-input .ui-inputtext {
}

/deep/ .when-section .moments-in-day-div #moments-in-day-input .ui-chips-input-token {
    margin-top: -5px;
}

.what-section {
    width: 100%;
    height: calc(100% - 140px);
}

    .what-section .what-label {
        float:left;
        padding-bottom: 10px;
    }

    .what-section #add-new-rule-item-button {
        float: left;
        margin-left: 10px;
        margin-top: -4px;
    }
    .what-section #rule-items-list {
        width: calc(100%);
        margin-top: 15px;
        height: calc(100% - 15px);
        overflow-y: scroll;
        border:solid 1px red;
    }


.check-box-label-pair {
    background-color: white;
    border: solid 1px #dbdbdb;
    padding: 5px;
    float: left;
    margin-right: 2px;
    width: 30px;
}

    .check-box-label-pair input {
        float: left;
        clear: both;
        margin-left: 10px;
    }

    .check-box-label-pair span {
        float: left;
        clear: both;
        color: black;
        width: 30px;
        text-align: center;
    }
