<form #ruleForm="ngForm">

    <div class="frame">

        <div class="when-section">
            <span class="h3 when-label">WHEN</span>
            <br />
            <select class="drop-down" name="ordinalfrequency" [(ngModel)]="viewModel.RuleCLO.OrdinalFrequency">
                <option *ngFor="let ordFreq of ordinalFreqTypesEnum | enumkeys" [value]="ordFreq.value">{{ordFreq.key}}</option>
            </select>
            <select class="drop-down" name="rulefreq" [(ngModel)]="viewModel.RuleCLO.FrequencyType">
                <option *ngFor="let freqType of ruleFreqTypesEnum | enumkeys" [value]="freqType.value">{{freqType.key}}</option>
            </select>
            <div [class.hidden-non-daily-controls-div]="viewModel.HideNonDailyControlsDiv==true"                  
                 class="non-daily-controls-div">
                <span class="label on-label">on</span>
                <div class="week-days-list">
                    <div class="check-box-label-pair">
                        <input type="checkbox" />
                        <span class="label">MON</span>
                    </div>
                    <div class="check-box-label-pair">
                        <input type="checkbox" />
                        <span class="label">TUE</span>
                    </div>
                    <div class="check-box-label-pair">
                        <input type="checkbox" />
                        <span class="label">WED</span>
                    </div>
                    <div class="check-box-label-pair">
                        <input type="checkbox" />
                        <span class="label">THU</span>
                    </div>
                    <div class="check-box-label-pair">
                        <input type="checkbox" />
                        <span class="label">FRI</span>
                    </div>
                    <div class="check-box-label-pair">
                        <input type="checkbox" />
                        <span class="label">SAT</span>
                    </div>
                    <div class="check-box-label-pair">
                        <input type="checkbox" />
                        <span class="label">SUN</span>
                    </div>
                </div>
            </div>
            <div class="moments-in-day-div">
                <span class="label at-label">at</span>
                <p-chips id="moments-in-day-input"
                         name="momentsinday" 
                         styleClass="chips-input" 
                         addOnTab="true"
                         addOnBlur="true"
                         placeholder="Type to add moments"
                         (onAdd)="onAddMomentInDay($event.value)"
                         (onRemove)="onRemoveMomentInDay($event.value)"
                         [(ngModel)]="viewModel.MomentsInDayAsStrings"></p-chips>
            </div>
        </div>
        <div class="what-section">
            <span class="h3 what-label">WHAT</span>
            <br />
            </div>

        </div>

</form>

