

.frame {
    background-color: #f7f7f7;
    height: 250px;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
}

.when-section {
}

    .when-section .when-label {
        display: inline-block;
        padding-bottom: 10px;
    }

    .when-section .drop-down {
        float: left;
        margin-right: 10px;
    }

    .when-section .non-daily-controls-div {
        width:340px;
        float: left;
    }

        .when-section .non-daily-controls-div .on-label {
            display: block;
            margin-right:10px;
            margin-top:5px;
            float: left;
        }


.check-box-label-pair {
    background-color: white;
    border: solid 1px #dbdbdb;
    padding: 5px;
    border-radius: 3px;
    float: left;
    margin-right: 2px;
    width:30px;
}

.check-box-label-pair input {
    float: left;
    clear: both;
    margin-left:10px;
}
.check-box-label-pair span {
    float: left;
    clear: both;
    color:black;
    width:30px;
    text-align:center;
}