.frame {
    width: 100%;
    height: 100%;
}

.nav-tabs {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    border-bottom: solid 2px #989898;
}

    .nav-tabs li {
        
        list-style-type: none;
        padding: 10px 15px 10px 15px;
        float: left;
        cursor: pointer;
        border-radius: 4px 4px 0 0;
        background-color: #f3f3f3;
        color: black;
    }

        .nav-tabs li:hover {
            background-color: #bad8eb;
            color:black;
        }

        .nav-tabs li.active:hover {
            background-color: #989898;
        }

        .nav-tabs li.active {
            background-color: #989898;
            color: white;
        }

.panels-div {
    height: calc(100% - 40px);
    width: 100%;
    float: left;
}
