

/*General styles (any positioning)*/
.frame {
    width: 180px;
    border: solid 1px #d5d5d5;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    z-index: 9999999999;
    box-shadow:2px 2px 5px  #c6c6c6;
}

.caret-div {
    width: 0;
    height: 0;
    position: relative;
}

.header-div {
    height: 50px;
    margin-top: -10px;
    text-align:center;
}

    .header-div .status-info-label {
        display: inline-block;
        vertical-align: middle;
        line-height: 30px;
        text-transform: uppercase;
    }



.content-div {
    min-height: 20px;
    width: calc(100% - 20px);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}


/* ABOVE position mode*/
.frame.above-pos {
    padding-top: 0;
}

    .frame.above-pos .caret-div {
        border-bottom: solid 15px black;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
        border-top: none;
    }

/* BELOW position mode */
.frame.below-pos {
    padding-top: 0;
}

    .frame.below-pos .caret-div {
        border-bottom: none;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
        border-top: solid 15px black;
    }
