<div #tooltipDiv class="frame"
     [ngClass]="viewModel.TooltipOrientationMode === orientationModesEnum.Above ? 'above-pos': 'below-pos'"
     [style.visibility]="viewModel.Visible ? 'visible' : 'hidden'"
     [style.top.px]="viewModel.TooltipPos?.Top ? viewModel.TooltipPos.Top : 0"
     [style.left.px]="viewModel.TooltipPos?.Left ? viewModel.TooltipPos.Left : 0">

    <div class="caret-div"
         [style.top.px]="viewModel.CaretPos?.Top ? viewModel.CaretPos.Top : 0"
         [style.left.px]="viewModel.CaretPos?.Left ? viewModel.CaretPos.Left : 0">
    </div>

   
    <div class="header-div">


        <span class="status-info-label h2">{{planStatusesEnum[viewModel.CurrentPlanStatus]}}</span>
        <div class="plan-status-description-div h4-alt">
            {{viewModel.NrUniqueMedicineTypes}} Medicine type(s):
        </div>
        
    </div>
    <div class="content-div">
        <div class="rule-elem-div" *ngFor="let medType of viewModel.UniqueMedTypes; let i = index">
            <span class="label">{{medType.MedicineType.Name}}</span>
        </div>
    </div>

</div>
