
.frame {
    width: 550px;
    height: 550px;
}

/*Health section*/
.health-level-section {
    height: 40px;
}

    .health-level-section h3 {
        margin-top: 0;
    }

/*Symptoms section */
.symptoms-section {
    height: calc(100% - 200px);
    margin-top: 20px;
}

    .symptoms-section .symptoms-section-header {
        height: 22px;
    }

        .symptoms-section .symptoms-section-header .h2 {
            display: block;
            float: left;
        }


    .symptoms-section .symptoms-search-section {
        margin-top: 10px;
        margin-bottom: 20px;
    }

        .symptoms-section .symptoms-search-section /deep/ .ui-autocomplete {
            float: left;
            font-size: 18px;
            width: calc(100% - 25px);
        }

            .symptoms-section .symptoms-search-section /deep/ .ui-autocomplete .ui-inputtext {
                width: 100%;
            }

        .symptoms-section .symptoms-search-section .search-icon {
            color: #e9e9e9;
            font-size: 1.3em;
            float: right;
            margin-left: 2px;
            margin-top: 5px;
        }

/*Search symptoms*/
.search-bar {
    float: left;
    width: 100%;
}

/*Recent symptoms*/
.recent-symptoms-div {
    width: calc(100% - 20px);
    min-height: 35px;
    max-height: 65px;
    overflow: hidden;
    padding: 10px;
    background-color: #f1f7f8;
    border-radius: 6px;
    float: left;
    clear: both;
    margin-top: 5px;
}

    .recent-symptoms-div > span {
        float: left;
        margin-bottom: 7px;
    }

    .recent-symptoms-div > i {
        float: right;
        cursor: pointer;
    }

        .recent-symptoms-div > i:hover {
            color: blue;
        }

    .recent-symptoms-div .recent-symptoms-list {
        float: left;
        
        width: 100%;
    }

        .recent-symptoms-div .recent-symptoms-list .recent-symptom-elem {
            border-radius: 4px;
            background-color: #2399e5;
            float: left;
            margin-right:4px;
            margin-bottom:4px;
            cursor: pointer;
            padding: 2px 4px 2px 4px;
        }

            .recent-symptoms-div .recent-symptoms-list .recent-symptom-elem:hover {
                background-color: #1c6fa4;
            }

    .recent-symptoms-div .recent-symptom-elem span {
        color: white;
    }
    .recent-symptoms-div .recent-symptom-elem i {
        color: white;
        font-size:0.8em;
    }


/*Symptoms-Section-Body*/
.symptoms-section .symptoms-section-body {
    height: calc(100% - 22px);
}

    .symptoms-section .symptoms-section-body .symptom-entry-elems-list {
        overflow-y: auto;
        height: calc(100% - 20px);
        float: left;
        width: 100%;
    }

.symptom-entry-elems-list .symptom-entry-elem {
    margin-top: 10px;
    float: left;
    width: calc(100% - 5px)
}

    .symptom-entry-elems-list .symptom-entry-elem:first-of-type {
        margin-top: 0;
    }

.hide-symptoms-overlay-div {
    /*display:none;*/
    height: calc(100% - 80px);
    width: 100%;
    top: -360px;
    background-color: #f7f7f7;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    z-index: 999999999;
    position: relative;
}

    .hide-symptoms-overlay-div .center-div {
        border-radius: 2px;
        top: 20%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        padding: 25px;
        position: relative;
    }

        .hide-symptoms-overlay-div .center-div:hover {
        }

        .hide-symptoms-overlay-div .center-div.hide-symptoms-overlay-div h2 {
        }

        .hide-symptoms-overlay-div .center-div.hide-symptoms-overlay-div span {
        }
