
.frame {
    width: 550px;
    height: 450px;
}


.health-level-section {
    height: 60px;
}
.health-level-section h3 {
    margin-top:0;
}

.symptoms-section {
    height: calc(100% - 110px);
    margin-top: 20px;
}

    .symptoms-section .symptoms-section-header {
        height: 22px;
    }

        .symptoms-section .symptoms-section-header .h2 {
            display: block;
            float: left;
        }


        

        .symptoms-section .symptoms-section-header /deep/ .ui-autocomplete {
            float: right;
            margin-top:-6px;
        }

            .symptoms-section .symptoms-section-header /deep/ .ui-autocomplete .ui-inputtext {
                width: 240px !important;
            }

        .symptoms-section .symptoms-section-header .search-icon {
            color: #e9e9e9;
            font-size: 1.3em;
            float: right;
            margin-left:2px;
            margin-top: -3px;
        }
    .symptoms-section .symptoms-section-body {
        height: calc(100% - 22px);
    }

    

        .symptoms-section .symptoms-section-body .recent-symptoms-msg-div {
            vertical-align: middle;
            height:28px;
            
        }
            .symptoms-section .symptoms-section-body .recent-symptoms-msg-div span {
                vertical-align: middle;
                line-height: 28px;
            }
            .symptoms-section .symptoms-section-body .recent-symptoms-msg-div button {
                display:inline-block;
                margin-left: 5px;
                z-index: 1;
                font-size: 12px;
                margin-top:2px;
            }
            

            .symptoms-section .symptoms-section-body .recent-symptoms-msg-div i {
                color: #2399e5;
                vertical-align: middle;
            }

        .symptoms-section .symptoms-section-body .symptom-entry-elems-list {
            margin-top: 10px;
            overflow-y: auto;
            height: calc(100% - 40px);
            float: left;
            width: 100%;
        }

.symptom-entry-elems-list .symptom-entry-elem {
    margin-top: 10px;
    float: left;
    width: calc(100% - 5px)
}

    .symptom-entry-elems-list .symptom-entry-elem:first-of-type {
        margin-top: 0;
    }

.hide-symptoms-overlay-div {
    /*display:none;*/
    height: calc(100% - 80px);
    width: 100%;
    top: -360px;
    background-color: #f7f7f7;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    z-index: 999999999;
    position: relative;
}

    .hide-symptoms-overlay-div .center-div {
        border-radius: 2px;
        top: 30%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        padding: 25px;
        position: relative;
    }

        .hide-symptoms-overlay-div .center-div:hover {
        }

        .hide-symptoms-overlay-div .center-div.hide-symptoms-overlay-div h2 {
        }

        .hide-symptoms-overlay-div .center-div.hide-symptoms-overlay-div span {
        }
