
<graph-tooltip #graphTooltip></graph-tooltip>


<div class="frame">

    <div class="header">
        <div class="left-section">
            <span class="header-label h1">HEALTH</span>
            
        </div>
        <div class="center-section">
            <!-- <navigation-panel #navPanel
              (DateRangeChangedBackward)="onSelectedDateRangeChangedBackward($event)"
              (DateRangeChangedForward)="onSelectedDateRangeChangedForward($event)"></navigation-panel>-->
            <span class="h2-alt">TODAY</span>
        </div>
        <div class="right-section">
            <button pButton type="button" icon="fa fa-notes-medical" label="Check in"
                    (click)="onAddNewHealthStatusEntryTriggered()"></button>
            <!--<select class="view-mode-selector">
        <option>Day</option>
        <option>Week</option>
    </select>-->
        </div>
    </div>
    <div class="body">
        <div id="chart-wrapper-div">
            <p-chart #chart type="line" [data]="viewModel.ChartData" [options]="viewModel.ChartOptions" height="165px"></p-chart>
        </div>
    </div>
    <!--<div class="footer">
       

    </div>-->
    <no-data-panel *ngIf="viewModel.CurrentNoDataMode!==null"
                   [CurrentNoDataModeID]="viewModel.CurrentNoDataMode"
                   [InnerMarginTop]="20"
                   [PositionStyle]="'horizontal'">
        <no-data-mode [ID]="noDataModes.NoAvailableHealthStatusEntries">
            <span class="msg-label label-discrete">
                You don't have any Health entries yet.
            </span>
            <button style="margin-top:15px" pButton type="button" icon="fa fa-plus" label="Add new "
                    (click)="onAddNewHealthStatusEntryTriggered()"></button>
        </no-data-mode>

    </no-data-panel>
</div>

