
<single-health-status-tooltip #healthStatusTooltip></single-health-status-tooltip>


<div class="frame">

    <div class="left-box">
        <div class="header">
            <span class="header-label h1">HEALTH</span>
            <i class="fa fa-question-circle"
               [pTooltip]="infoTooltipText" [escape]="false"
               tooltipPosition="bottom"></i>
        </div>
        <div class="body">
            <div class="health-status-inner-div">
                <div class="inner-top-part-div">
                    <span class="h2-alt feeling-label">How are you feeling ?</span>
                </div>
                <i class="fa fa-heartbeat"></i><br />
                <button pButton id="status-button" type="button" icon="fa fa-plus" label="STATUS"
                        [pTooltip]="'Tell us how you are feeling'"
                        (click)="onAddNewHealthStatusEntryTriggered()"></button><br />
            </div>
        </div>
    </div>
    <div class="center-box">
        <todays-health-view></todays-health-view>
    </div>
    <div class="right-box">
        <longer-term-health-view></longer-term-health-view>
    </div>
</div>

