
.frame {
    background-color: white;
    border: solid 1px #f2f2f2;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

    .frame .left-box {
        float: left;
        width: calc(33%);
        height: calc(100%);
        border-right: dashed 1px #e1e1e1;
    }

        .frame .left-box .header {
            width: calc(100% - 20px);
            height: 30px;
            padding: 5px 10px 5px 10px;
            vertical-align: middle;
            line-height: 30px;
        }

            .frame .left-box .header .header-label {
                display: block;
                float: left;
            }

            .frame .left-box .header i {
                display: block;
                float: left;
                margin-left: 5px;
                margin-top: 4px;
                color: #e5e5e5;
                font-size: 1.3em;
            }

        .frame .left-box .body {
            padding: 10px;
            padding-top: 0;
            height: calc(100% - 40px - 10px);
            width: calc(100% - 20px);
        }

    .frame .center-box {
        float: left;
        width: calc(33%);
        height: calc(100%);
        min-width: 150px;
        border-right: dashed 1px #e1e1e1;
    }

    .frame .right-box {
        float: right;
        width: calc(33%);
        min-width: 150px;
        height: calc(100%);
    }

.health-status-inner-div {
    min-width: 150px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 10px);
    text-align: center;
    border-radius: 30px;
    background-color: #f1f7f8;
    border-radius: 5px;
    padding: 5px;
}

    .health-status-inner-div .inner-top-part-div {
        height: calc(100% - 75px);
        display:table;
        width:100%;
    }


        .health-status-inner-div .inner-top-part-div .feeling-label {
            vertical-align: middle;
            display:table-cell;
        }


    .health-status-inner-div i {
        font-size: 2em;
        color: red;
        margin-bottom:10px;
    }

    .health-status-inner-div #status-button {
    }
