<p-blockUI [blocked]="viewModel.Blocked">
    <div class="inner-div">
        <p-progressSpinner strokeWidth="4"></p-progressSpinner>
    </div>

</p-blockUI>

<div class="frame">

    <div class="header">
        <div class="left-section">
            <span class="header-label h1">HEALTH</span>
            <icon-button [IconName]="'plus'" (Clicked)="onAddNewHealthStatusEntryTriggered()"></icon-button>
        </div>
        <div class="center-section">
            <navigation-panel [Label]="viewModel.NavigationLabel"
                              (PreviousClicked)="onNavigateBackwardTriggered()"
                              (NextClicked)="onNavigateForwardTriggered()"></navigation-panel>
        </div>
        <div class="right-section">
            <!--<select class="view-mode-selector">
        <option>Day</option>
        <option>Week</option>
    </select>-->
        </div>
    </div>
    <div class="body">
        <div class="chart-wrapper-div">
            <p-chart #chart type="bar" [data]="viewModel.ChartData" [options]="viewModel.ChartOptions" height="190px"></p-chart>

            
        </div>
    </div>
</div> 