<svg:svg height="35px" overflow="visible"
         [attr.width]="viewModel.VersionInfoWrapper.Width +'%'"
         [attr.x]="viewModel.VersionInfoWrapper.XPos  + '%'"
         [attr.y]="viewModel.VersionInfoWrapper.YPos">

    <!--Hover effect-->
    <svg:rect rx="5" ry="5" height="100%" width="100%" class="hover-effect-rect" [style.visibility]="viewModel.ShowHoverEffect === true ? 'visible' : 'hidden'"></svg:rect>

    <!--Vertical hover lines (start and end)-->
    <svg:line x1="1" y1="16" x2="1" y2="1500"
              [style.visibility]="(viewModel.ShowHoverEffect === true && viewModel.VersionInfoWrapper.IntersectionStartIsVersionStart ) ? 'visible' : 'hidden'"
              style="stroke:gray;stroke-width:2;z-index:99999; position:absolute" stroke-dasharray="2, 5" />
    <svg:line x1="100%" y1="16" x2="100%" y2="1500" transform="translate(-1 0)"
              [style.visibility]="(viewModel.ShowHoverEffect === true && viewModel.VersionInfoWrapper.IntersectionEndIsVersionEnd ) ? 'visible' : 'hidden'"
              style="stroke:gray;stroke-width:2;z-index:99999; position:absolute" stroke-dasharray="2, 5" />

    <!--Horizontal line and plan name-->
    <svg:line x1="0%" y1="16" [attr.x2]="'100%'" y2="16" style="stroke-width:2;stroke:#d5d5d5"
              [style.stroke]="viewModel.ShowHoverEffect ? '#3d57bf' : '#d5d5d5'"
              [attr.marker-start]="viewModel.VersionInfoWrapper.IntersectionStartIsVersionStart ? 'url(#circle-tick-start)' : ''"
              [attr.marker-end]="viewModel.VersionInfoWrapper.IntersectionEndIsVersionEnd ? 'url(#arrow-with-circle-tick)' : 'url(#arrow)'" />
    <svg:text *ngIf="viewModel.VersionInfoWrapper.ShowPlanName===true" x="0" y="5" style="font-family:Arial;font-size:10px;fill:gray">
        {{viewModel.VersionInfoWrapper.PlanName}}
    </svg:text>


    <!--Hitbox rectangle-->
    <svg:rect height="100%" width="100%" class="hit-box-rect" (mouseenter)="OnMouseEnter()" (mouseleave)="OnMouseLeave()"></svg:rect>
</svg:svg>

