.medicine-type-input-pair /deep/ .ng-invalid.ng-touched .ui-inputtext {
    border: 1px solid red !important;
}

input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

.frame {
    width: 350px;
    height: 350px;
}

/*Top*/
.top-section {
    height: 70px;
    padding-bottom: 20px;
    border-bottom: dashed 1px #c7c7c7;
}
    .top-section .validation-error-icon {
        display: block;
        margin-left: 5px;
        margin-top: 6px;
        float: left;
    }
.name-div .ui-inputtext,
.producer-div .ui-inputtext {
    width: calc(100% - 25px);
}

/*Bottom*/
.bottom-section {
    min-height: 80px;
    padding-top: 20px;
}

.label-input-pair {
    float: left;
    margin-bottom: 10px;
    clear: both;
    width: 100%;
}




.radio-button-group {
    float: left;
}

    .radio-button-group .radio-button-div {
        padding: 5px;
        padding-left: 8px;
        padding-right:8px;
        background-color: #efefef;
        border-radius: 4px;
        float: left;
        margin-right: 10px;
    }

        .radio-button-group .radio-button-div label {
            vertical-align: middle;
        }

.active label {
    color: black !important;
}


#packaged-div {
    width:100%;
}


    #packaged-div #packagedUnitDoseSize {
        width: 60px;
    }

    #packaged-div .header{
        height:20px;
    }
    #packaged-div .body {
        height:70px;
    }
    #packaged-div #packagedUnitDoseType,
    #packaged-div #packagedUnitDoseSize,
    #packaged-div .inner-label {
        float: left;
        display: block;
        clear: none;
        margin-right:8px;
    }
    
    #packaged-div .inner-label {
        margin-top:4px;
    }

.frame /deep/ .ui-state-active .fa-circle:before {
    content: none;
}
.frame /deep/ .ui-radio-button-label {
    cursor:pointer;
}