<form [formGroup]="reactiveForm">
   
    <div class="frame">

        <div class="top-section">
            <!--Name-->
            <div class="label-input-pair name-div">
                <!--<span class="label-discrete">Name:</span>-->
                <input type="text"
                       pInputText
                       formControlName="name"
                       id="name-input"
                       placeholder="Enter a Name"
                       [(ngModel)]="viewModel.MedicineTypeCLO.Name" />
                <i [style.display]="reactiveForm.controls.name.valid ? 'none' : 'block'"
                   [tooltipZIndex]="52000"
                   [tooltipPosition]="'bottom'"
                   [pTooltip]="'Please enter a unique Name for the Supplement'"
                   class="fa fa-warning validation-error-icon"></i>
                

            </div>

            <!--Producer-->
            <div class="label-input-pair producer-div">
                <!--<span class="label-discrete">Producer:</span>-->
                <input type="text"
                       pInputText
                       formControlName="producerName"
                       id="name-input"
                       placeholder="Producer Name (optional)"
                       [(ngModel)]="viewModel.MedicineTypeCLO.ProducerName" />
            </div>
        </div>

        <div class="bottom-section">
            <!--IsPackagedIntoUnits-->
            <div class="label-input-pair packaged-into-units-div">
                <span class="label-large">Is it packaged into Unit Doses ?</span>
                <i class="fa fa-question-circle"
                   [tooltipZIndex]="52000"
                   [tooltipPosition]="'bottom'"
                   [pTooltip]="'Packaged into Unit Doses means whether it comes as a freeform powder, liquid, etc or it is packaged into doses such as pills already.'" 
                   tooltipPosition="bottom"></i>
                <div class="radio-button-group">


                    <div class="radio-button-div" [ngClass]="viewModel.MedicineTypeCLO.IsPackagedIntoUnits ? 'active': ''">
                        <p-radioButton formControlName="isPackagedIntoUnitsRadioGroup" [value]="true" label="Yes" [(ngModel)]="viewModel.MedicineTypeCLO.IsPackagedIntoUnits"></p-radioButton>
                    </div>
                    <div class="radio-button-div" [ngClass]="!viewModel.MedicineTypeCLO.IsPackagedIntoUnits ? 'active': ''">
                        <p-radioButton formControlName="isPackagedIntoUnitsRadioGroup" [value]="false" label="No" [(ngModel)]="viewModel.MedicineTypeCLO.IsPackagedIntoUnits"></p-radioButton>
                    </div>
                </div>
            </div>

            <!--PackagedUnitDoseType-->
            <div class="label-input-pair packaged-as-div"
                 [style.visibility]="viewModel.MedicineTypeCLO.IsPackagedIntoUnits === true ? 'visible' : 'hidden'">
                <div class="header">
                    <span class="label-large">How is it packaged ?</span>
                </div>
                <div class="body">
                    <select class="drop-down"
                            id="packagedUnitDoseType"
                            [(ngModel)]="viewModel.MedicineTypeCLO.PackagedUnitDoseType"
                            formControlName="packagedUnitDoseType">
                        <option *ngFor="let packagedUnitDoseType of packagedUnitDoseTypesEnum | enumkeys" [value]="packagedUnitDoseType.value">{{packagedUnitDoseType.key}}</option>
                    </select>

                    <div class="inner-label label">of</div>

                    <input type="text"
                           id="packagedUnitDoseSize"
                           pInputText
                           formControlName="packagedUnitDoseSize"
                           [(ngModel)]="viewModel.MedicineTypeCLO.PackagedUnitDoseSize" />
                    <i [style.display]="reactiveForm.controls.packagedUnitDoseSize.valid ? 'none' : 'block'"
                       [tooltipZIndex]="52000"
                       [tooltipPosition]="'bottom'"
                       [pTooltip]="'Please look at the Supplement ingredients and read how much each unit dose contains'"
                       class="fa fa-warning validation-error-icon"></i>

                    <select class="drop-down"
                            id="baseUnitOfMeasure"
                            [(ngModel)]="viewModel.MedicineTypeCLO.BaseUnitOfMeasure"
                            formControlName="baseUnitOfMeasure">
                        <option *ngFor="let unitOfMeasure of unitsOfMeasureEnum | enumkeys" [value]="unitOfMeasure.value">{{unitOfMeasure.key}}</option>
                    </select>

                    <!--<div class="inner-label label"> each</div>-->
                </div>
            </div>
        </div>
    </div>
</form>