/*General*/
html {
    width: 100%;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


/*Headers*/
h1,
.h1 {
    font-family: Arial;
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: black;
}
h2,
.h2 {
    font-family: Arial;
    font-size: 14pt;
    font-weight: bold;
    color: black;
}
.h2-alt {
    font-family: Arial;
    font-size: 14pt;
    font-weight: bold;
    color: #2399e5;
}
h3,
.h3 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    color: black;
}
.h3-alt {
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    color: #2399e5;
}
h4,
.h4 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    color: black;
}
.h4-alt {
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    color: #2399e5;
}



/*Labels*/
.label {
    font-size: 9pt;
    font-family: Arial;
    color: #464646;
}
.label-discrete {
    font-size: 9pt;
    font-family: Arial;
    color: #989797;
}
.label-inv {
    font-size: 9pt;
    font-family: Arial;
    color: white;
}
.label-large {
    font-family: Arial;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: black;
}
.label-large-inv {
    font-family: Arial;
    font-size: 15px;
    letter-spacing: 1.5px;
    color:white;
}
.label-medium {
    font-family: Arial;
    font-size: 14px;
    color: black;
}
.label-small-inv {
    color: white;
    font-weight: bold;
    font-size: 8px;
    font-family:Arial;
}
.ui-chkbox-label {
    font-size: 9pt;
    font-family: Arial;
    color: #464646;
    cursor:pointer;
}
.ui-radiobutton-label {
    font-size: 9pt;
    font-family: Arial;
    color: #464646;
    cursor: pointer;
}


/*Controls*/
.ui-menuitem-link {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.ui-inputtext:disabled {
    background-color: #f1f1f1;
    color: gray;
}

.drop-down {
    border: solid 1px #dbdbdb;
    font-size: 10pt;
    font-family: Arial;
    padding: 5px;
    padding-top: 3px;
    height: 29px;

}

    .drop-down:disabled {
        background-color: #f1f1f1 !important;
        border: solid 1px #dbdbdb;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

.label-input-pair {
    float: left;
}

    .label-input-pair > span:first-of-type {
        float: left;
        padding-bottom: 3px;
        height: 15px;
    }

    .label-input-pair input,
    .label-input-pair .drop-down,
    .label-input-pair .input-label {
        float: left;
        clear: left;
    }

@keyframes ui-progress-spinner-color {
    100%, 0% {
        stroke: white;
    }

    50% {
        stroke: blue;
    }
}
