

/*General*/
html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/*Fonts*/
.h1 {
    font-family: Arial;
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 2px;
}

.h2 {
    font-family: Arial;
    font-size: 11pt;
    font-weight: bold;
}

.h3 {
    font-family: Arial;
    font-size: 9pt;
}


/*Block-UI*/
.ui-blockui {
    position:absolute;
    opacity:0.4;
}

    .ui-blockui .inner-div {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        /*background-color: white;*/
        border-radius:10px;
    }
    .ui-blockui .inner-div .span {
        display:inline-block;
        margin-left:auto;
        margin-right:auto;
    }
@keyframes ui-progress-spinner-color {
    100%, 0% {
        stroke: white;
    }
    50% {
        stroke: blue;
    }

}
/*Controls*/
.button,
.btn {
    color: #3d57bf;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    background-color: #e8e8ec;
    cursor: pointer;
    font-family: Arial;
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: bold;
}

    .button,
    .btn:hover {
        background-color: #dddddd;
    }

.ui-inputtext {
    border: solid 1px #dbdbdb;
    font-size: 10pt;
    font-family: Arial;
    padding: 5px;
    border-radius: 0px;
}

    .ui-inputtext:disabled {
        background-color: #f1f1f1 !important;
        border: solid 1px #f1f1f1 !important;
    }

.drop-down {
    border: solid 1px #dbdbdb;
    font-size: 10pt;
    font-family: Arial;
    padding: 5px;
    padding-top: 3px;
    height: 27px;
    border-radius: 0px;
}

    .drop-down:disabled {
        background-color: #f1f1f1;
        border: solid 1px #f1f1f1;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

.label-input-pair {
    float: left;
}

    .label-input-pair .label {
        float: left;
        color: gray;
        height: 15px;
    }

    .label-input-pair .ui-inputtext,
    .label-input-pair .drop-down {
        float: left;
        clear: left;
    }
