<form [formGroup]="reactiveForm">
    <div class="frame">
        <div class="health-level-section">
            <h3>HOW DO YOU FEEL RIGHT NOW ?</h3>

            <health-level-selector (HealthLevelSelected)="onHealthLevelSelected($event)"></health-level-selector>
        </div>

        <div class="symptoms-section">
            <span class="h3">WHAT ARE YOUR SYMPTOMS ?</span>
            <button pButton type="button" icon="fa fa-plus" label="Add Symptom"
                    (click)="onAddNewSymptomEntryTriggered()"></button>
            <br />


            <div class="symptom-entry-elems-list">
                <symptom-entry-elem #symptomEntryElems *ngFor="let clo of viewModel.HealthStatusEntryCLO.SymptomEntries"
                                    [SymptomEntryCLO]="clo"
                                    (ValidStateChanged)="onSymptomEntryElemValidStateChanged()"></symptom-entry-elem>
                <div style="clear:both"></div>
            </div>

        </div>
        <div class="hide-symptoms-overlay-div" *ngIf="viewModel.ShowSymptomEntriesOverlayDiv">
            <div class="center-div" (click)="onRegisterSymptomsTriggered()">
                <h2>SYMPTOMS</h2>
                <span class="label-large">
                    Click if you have any Symptoms
                </span>
            </div>
        </div>
    </div>
</form>