    <div class="frame">
        <div class="health-level-section">
            <h3>HOW DO YOU FEEL RIGHT NOW ?</h3>

            <health-level-selector (HealthLevelSelected)="onHealthLevelSelected($event)"></health-level-selector>
        </div>

        <div class="symptoms-section">
            <div class="symptoms-section-header">
                <span class="h3">WHAT ARE YOUR SYMPTOMS ?</span>
            </div>
            <div class="symptoms-section-body">
                <p-autoComplete #autocomplete
                                lazy="true"
                                [(ngModel)]="viewModel.SearchText"
                                [suggestions]="viewModel.SymptomTypesSearchResults"
                                [emptyMessage]="'No symptoms could be found. Please try a different name'"
                                [placeholder]="'Type to find symptoms'"
                                (completeMethod)="onSymptomTypeTextBoxChanged($event)"
                                (onSelect)="onSymptomTypeSelected($event)">



                </p-autoComplete>
                <i class="fa fa-search  search-icon"></i>
                <button pButton *ngIf="viewModel.HealthStatusEntryCLO.SymptomEntries.length > 0" type="button" label="Clear all" class="ui-button-secondary"
                        (click)="onRemoveAllSymptomsTriggered()"></button>
                <div class="symptom-entry-elems-list">
                    <symptom-entry-elem #symptomEntryElems *ngFor="let clo of viewModel.HealthStatusEntryCLO.SymptomEntries"
                                        [SymptomEntryCLO]="clo"
                                        (RemoveTriggered)="onRemoveSymptomTriggered($event)"
                                        (ValidStateChanged)="onSymptomEntryElemValidStateChanged()"></symptom-entry-elem>
                    
                </div>
            </div>
        </div>

        
        <div class="hide-symptoms-overlay-div" *ngIf="viewModel.ShowSymptomEntriesOverlayDiv">
            <div class="center-div" (click)="onRegisterSymptomsTriggered()">
                <h2>SYMPTOMS</h2>
                <span class="label-large">
                    Click if you have any Symptoms
                </span>
            </div>
        </div>
    </div>
