.drop-down.ng-invalid {
    border: 1px solid red !important;
}

.when-section /deep/ #occurrence-date-time-picker.ng-invalid.ng-touched .ui-inputtext {
    border: 1px solid red !important;
}


.frame {
    width: 750px;
    height: 650px;
}

.h2 {
    float: left;
}


.when-section {
    height: 90px;
}

    .when-section #occurrence-date-time-picker {
        float: left;
        clear: both;
    }

        .when-section #occurrence-date-time-picker .ui-inputtext {
            width: 250px;
        }

    .when-section .label-input-pair {
        margin-top: 10px;
        margin-right: 15px;
    }


.health-level-section {
    height: 80px;
}

.what-section .label-input-pair {
    margin-top: 10px;
    margin-right: 15px;
}

.symptoms-section {
    height: calc(100% - 180px);
    margin-top: 20px;
    
}

    .symptoms-section .h2 {
        display: block;
        float: left;
    }

    .symptoms-section button {
        float: left;
        margin-left: 10px;
        margin-top: -6px;
        z-index:1;
    }

    .symptoms-section .symptom-entry-elems-list {
        margin-top: 15px;
        overflow-y: auto;
        height: calc(100% - 40px);
    }

        .symptoms-section .symptom-entry-elems-list .symptom-entry-elem {
            margin-top: 10px;
            float: left;
            width:calc(100% - 5px)
        }

            .symptoms-section .symptom-entry-elems-list .symptom-entry-elem:first-of-type {
                margin-top: 0;
            }

.hide-symptoms-overlay-div {
    height: calc(100% - 180px);
    width: 100%;
    top: -630px;
    background-color: #f7f7f7;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    z-index: 999999999;
    position:relative;
}

    .hide-symptoms-overlay-div .center-div {
        border-radius: 2px;
        margin-top: 140px;
        width:50%;
        margin-left:auto;
        margin-right:auto;
        cursor: pointer;
        padding:25px;
    }

        .hide-symptoms-overlay-div .center-div:hover {
        }

        .hide-symptoms-overlay-div .center-div.hide-symptoms-overlay-div h2 {
           
        }

        .hide-symptoms-overlay-div .center-div.hide-symptoms-overlay-div span {
        }
