.drop-down.ng-invalid {
    border: 1px solid red !important;
}

.when-section /deep/ #occurrence-date-time-picker.ng-invalid .ui-inputtext {
    border: 1px solid red !important;
}


.frame {
    width: 550px;
    height: 650px;
}

.h2 {
    float: left;
}


.when-section {
    height: 90px;
}

    .when-section #occurrence-date-time-picker {
        float: left;
        clear: both;
    }

        .when-section #occurrence-date-time-picker .ui-inputtext {
            width: 250px;
        }

    .when-section .label-input-pair {
        margin-top: 10px;
        margin-right: 15px;
    }


.health-level-section {
    height: 80px;
}

.what-section .label-input-pair {
    margin-top: 10px;
    margin-right: 15px;
}

.symptoms-section {
    height: calc(100% - 180px);
    border: solid 1px blue;
}

    .symptoms-section .label-input-pair {
        margin-top: 10px;
        margin-right: 15px;
    }
