<svg:svg *ngIf="viewModel.VersionInfoWrappers.length>0" height="40px" width="100%" [attr.x]="xPos" [attr.y]="yPos" overflow="visible">
    <!--<svg:rect class="rect" height="100%" width="100%" ></svg:rect>-->
    <!--<svg:text class="plan-name-label" x="0" y="10">{{viewModel.PlanCLO.Name}}</svg:text>-->

    <svg:g *ngFor="let versionInfoWrapper of viewModel.VersionInfoWrappers; let i = index" version-elem overflow="visible"
           [VersionInfoWrapper]="versionInfoWrapper"
           [ParentGroupYPos]="yPos"></svg:g>

</svg:svg>

