<div #tooltipDiv class="frame"
     [style.visibility]="viewModel.Visible ? 'visible' : 'hidden'"
     [style.top.px]="viewModel.TopPos"
     [style.left.px]="viewModel.LeftPos">
    <div class="caret-div">
    </div>

    <div class="header">
        <div class="version-index-label h3">
            Version #{{viewModel?.VersionCLO?.Index}}
        </div>
        <div class="plan-name-label label-text-dark">
            {{viewModel?.PlanName}}
        </div>
        <div class="duration-div">
            <span class="label">Showing</span>
            <span class="label-text-dark" style="font-weight:bold"> {{viewModel?.DurationInIntersection}} days</span>

            <span *ngIf="viewModel.DurationInVersion !== null" class="label">out of</span>
            <span *ngIf="viewModel.DurationInVersion !== null" class="label-text-dark" style="font-weight:bold">{{viewModel?.DurationInVersion}} days</span>
            <span *ngIf="viewModel.DurationInVersion !== null" class="label">in total</span>
        </div>
    </div>

    <div class="body">
        <div class="medicine-type-div" *ngFor="let medicineType of viewModel?.VersionCLO?.GetUniqueMedicineTypes()">
            <span class="label-text-dark"> {{medicineType.Name}}</span>
        </div>

    </div>






</div>
