<div #tooltipDiv class="frame"
     [style.visibility]="viewModel.Visible ? 'visible' : 'hidden'"
     [style.top.px]="viewModel.TooltipPos?.Top ? viewModel.TooltipPos.Top : 0"
     [style.left.px]="viewModel.TooltipPos?.Left ? viewModel.TooltipPos.Left : 0">

    <div class="caret-div"
         [style.top.px]="viewModel.CaretPos?.Top ? viewModel.CaretPos.Top : 0"
         [style.left.px]="viewModel.CaretPos?.Left ? viewModel.CaretPos.Left : 0">
    </div>


    <div class="body">

        <div class="medicine-type-div" *ngFor="let medTypeChange of viewModel?.Changes" [attr.class]="">
            <span class="h4"> {{medTypeChange.MedicineType.Name}} </span>

            <img src="{{viewModel.GetChangeTypeIcon(medTypeChange.ChangeType) }}" />
        </div>

    </div>

</div>

