.frame {
    width: 100%;
    height: 50px;
}

.intensity-level-elem:first-of-type {
    border-radius:4px 0 0 4px;
}

.intensity-level-elem:last-of-type {
    border-radius: 0 4px 4px 0;
}
.intensity-level-elem {
    padding: 9px 0 5px 0;
    float: left;
    margin-right:3.5px;
    width: 16%;
    text-align: center;
    vertical-align: middle;
    background-color: #f2f2f2;
    cursor: pointer;
    border-bottom: solid 8px transparent;
}
    .intensity-level-elem.not-selected {
        filter: brightness(75%);
        
    }

    .intensity-level-elem.selected-level {
        background-color: #dddddd;
        padding: 9px 0 13px 0;
        border-bottom: none;
        border-radius: 4px;
    }
    .intensity-level-elem:hover {
        background-color: #dddddd;
        border-radius: 4px;
    }
    
   
        .intensity-level-elem.selected-level span {
            font-weight: bold;
        }

    .intensity-level-elem span {
        display: inline-block;
        text-transform: uppercase;
    }
