
<header-bar [ActivePageName]="'HomePage'"></header-bar>

<div class="body-area">
    <schedule></schedule>
    <div class="right-side-panel">

        <tabs>
            <tab-panel [tabTitle]="'Tab 1'">Tab 1 Content</tab-panel>
            <tab-panel [tabTitle]="'Tab 2'">Tab 2 Content</tab-panel>
        </tabs>
        <!--<p-tabView>
        <p-tabPanel header="Inventory">
            <medicine-types-overview></medicine-types-overview>
        </p-tabPanel>
        <p-tabPanel header="Plans">
            <plans-overview></plans-overview>
        </p-tabPanel>

    </p-tabView>-->

    </div>
    <health-graph></health-graph>


</div>


<!--Special fix for webpack issues with dynamic src for images-->
<div style="display:none">
    <img src="/Images/arrow-left.png" />
    <img src="/Images/plus.png" />
    <img src="/Images/arrow-right.png" />
    <img src="/Images/log-out.png" />
</div>