


.outer-wrapper {
    height: 100%;
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
}

.body-area {
    height: calc(100% - 70px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebebeb;
}




.schedule {
    float: left;
    width: calc(100%);
    height: calc(100% - 180px - 20px);
}

.health-graph {
    margin-bottom: 20px;
    float: left;
    width: calc(80% - 20px);
    height: 180px;
}
.info-to-remember {
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
    width: 20%;
    height: 180px;
}




    .right-side-panel .tabs {
    }

    .right-side-panel /deep/ .ui-tabview {
        height: calc(100%);
        padding: 0;
    }

    .right-side-panel /deep/ .ui-tabview-panels {
        height: calc(100% - 40px);
    }

    .right-side-panel /deep/ .ui-tabview-panel {
        height: 100%;
        padding: 0;
    }


/*Bigger than 1024px in width*/
@media only screen and (min-width: 1024px) {
    .outer-wrapper {
        min-width: calc(1024px - 24px);
        max-width:70%;
        padding-left:12px;
        padding-right:12px;
    }
}

/*Lower than 1024px in width*/
@media only screen and (max-width: 1024px) {
    .outer-wrapper {
        min-width: calc(768px - 12px);
        max-width: 90%;
        padding-left: 6px;
        padding-right: 6px;
    }

    /*.right-side-panel {
        width: 190px;
    }

    .schedule {
        width: calc(100% - 190px - 20px);
    }

    .health-graph {
        width: calc(2*(100% - 190px)/3 - 10px);
    }

    .info-to-remember {
        width: calc((100% - 190px)/3 - 30px);
    }*/
}

/*Up to 768px in width*/
/*@media only screen and (max-width: 768px) {
    .outer-wrapper {
        width: calc(768px - 24px);
    }

    .schedule {
        width: calc(100% - 200px - 20px);
    }

    .health-graph {
        width: calc(100% - 200px - 20px);
    }

    .right-side-panel {
        width: 200px;
    }
}*/

/*Mobile*/
/*@media only screen and (max-width: 375px) {
    .schedule {
        width: calc(100% - 30px);
        height:calc(100% - 30px);
    }

    .health-graph {
        display: none;
    }

    .right-side-panel {
        display: none;
    }

    .header-bar {
        display:none;
    }


    .body-area {
        height:100%;
        width:100%;
    }
    /deep/ #scheduleHeaderLabel {
        display: none !important;
    }
}*/


