
.body-area {
    width: calc(100% - 30px);
    height: calc(100% - 40px - 30px);
    padding: 15px;
    background-color: #f5f5f5;
}


.schedule {
    float: left;
    width: calc(100% - 270px - 30px);
    height: calc(65% - 30px);
}

.plans-overview {
    float: right;
    width: 270px;
    height: calc(65% - 30px);
}

.indicators-timeline-placeholder {
    background-color: white;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    float: left;
    width: calc(100% - 270px - 30px);
    height: calc(35%);
    margin-top: 30px;
}

.test-result-list-placeholder {
    background-color: white;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    float: right;
    width: 270px;
    height: calc(35%);
    margin-top: 30px;
}
