<div class="outer-wrapper">
    <header-bar [ActivePageName]="'HomePage'"></header-bar>

    <div class="body-area">
        <div class="health-trends-div"></div>
        <health-graph></health-graph>
        <info-to-remember></info-to-remember>
        <!--<div class="right-side-panel">
            <tabs>

                <tab-panel [tabTitle]="'Plans'">
                    <plans-overview></plans-overview>
                </tab-panel>
                <tab-panel [tabTitle]="'Medicines'">
                    <medicine-types-overview></medicine-types-overview>
                <!--</tab-panel>
            </tabs>
        </div>-->

        <schedule></schedule>
    </div>

</div>