
<header-bar [ActivePageName]="'HomePage'"></header-bar>

<div class="body-area">
    <schedule></schedule>
    <div class="right-side-panel">

        <tabs>
            <tab-panel [tabTitle]="'Inventory'">
                <medicine-types-overview></medicine-types-overview>
            </tab-panel>
            <tab-panel [tabTitle]="'Plans'">
                <plans-overview></plans-overview>
            </tab-panel>
        </tabs>

    </div>
    <health-graph></health-graph>


</div>


<!--Special fix for webpack issues with dynamic src for images-->
<div style="display:none">
    <img src="/Images/arrow-left.png" />
    <img src="/Images/plus.png" />
    <img src="/Images/arrow-right.png" />
    <img src="/Images/log-out.png" />
</div>