


.outer-wrapper {
    height: 100%;
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
}

.body-area {
    height: calc(100% - 70px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebebeb;
}




.schedule {
    float: left;
    width: calc(100% - 250px - 20px);
    height: calc(100% - 180px - 20px);
}
.health-graph {
    margin-bottom: 20px;
    float: left;
    width: calc((100% - 250px)/2 - 10px);
    height: 180px;
}
.info-to-remember {
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
    width: calc((100% - 250px)/2 - 30px);
    height: 180px;
}
.right-side-panel {
    float: right;
    width: 250px;
    height: 100%;
    background-color: white;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
}




    .right-side-panel .tabs {
    }

    .right-side-panel /deep/ .ui-tabview {
        height: calc(100%);
        padding: 0;
    }

    .right-side-panel /deep/ .ui-tabview-panels {
        height: calc(100% - 40px);
    }

    .right-side-panel /deep/ .ui-tabview-panel {
        height: 100%;
        padding: 0;
    }


/*Computer*/
@media only screen and (min-width: 1024px) {
    .outer-wrapper {
        min-width: calc(1024px - 24px);
        max-width:80%;
        padding-left:12px;
        padding-right:12px;
    }
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    .outer-wrapper {
        width: calc(768px - 24px);
    }

    .schedule {
        width: calc(100% - 200px - 20px);
    }

    .health-graph {
        width: calc(100% - 200px - 20px);
    }

    .right-side-panel {
        width: 200px;
    }
}

/*Mobile*/
/*@media only screen and (max-width: 375px) {
    .schedule {
        width: calc(100% - 30px);
        height:calc(100% - 30px);
    }

    .health-graph {
        display: none;
    }

    .right-side-panel {
        display: none;
    }

    .header-bar {
        display:none;
    }


    .body-area {
        height:100%;
        width:100%;
    }
    /deep/ #scheduleHeaderLabel {
        display: none !important;
    }
}*/


