
<single-health-status-tooltip #healthStatusTooltip></single-health-status-tooltip>


<div class="frame">

    <div class="header">
        <span class="h2-alt">TODAY</span>
    </div>
    <!--<div class="footer">
            <div class="legend-item feeling-good-item">
                <i class="fa fa-circle"></i>
                <span class="label-discrete">Feeling good</span>
            </div>
            <div class="legend-item feeling-bad-item">
                <i class="fa fa-circle"></i>
                <span class="label-discrete">Feeling bad</span>
            </div>
    </div>-->
    <div class="body">
        <div id="chart-wrapper-div">

            <canvas id="todaysHealthViewChart"></canvas>
        </div>
    </div>


    <no-data-panel *ngIf="viewModel.CurrentNoDataMode!==null"
                   [CurrentNoDataModeID]="viewModel.CurrentNoDataMode"
                   [IconName]="'fa fa-calendar-plus'"
                   [PositionStyle]="'vertical'">
        <no-data-mode [ID]="noDataModes.NoHealthStatusEntriesToday">
            <span class="msg-label label-discrete">
                You haven't told us how you feel today
            </span>

        </no-data-mode>

    </no-data-panel>
</div>

<!--[responsive]="true"-->